
{{ 'about-center-image.css' | asset_url | stylesheet_tag }}


<div class="about_center_image" id="about-center-image--{{ section.id }}">
    <div class="about_center_image_wrapper">
      <div class="heading">
        <div class="heading_text h1 center">We were meant to eat plants.</div>
      </div>
      <div class="image_text_wrapper">
        <div class="image_text_main">
          <div class="image_text_item item_1">
            <div class="text">
              This isn’t some whackadoo perspective our founder, Marcus Antebi, picked up after years of jumping out of
              planes and pressing fresh juice – it’s what the unvarnished science consistently shows.
            </div>
          </div>
          {% comment %} <div class="image_text_item"></div> {% endcomment %}
          <div class="image_text_item item_2">
            <div class="text">
              He just listened...and learned...and tinkered...and toiled...until finally he created an approach to juicing
              that didn’t require pasteurization or additives or preservatives: just the pure way nature intended.<br>
              <br>
              You can taste it in all of our offerings and how good they make us feel
            </div>
            <div class="imagr_text_button">
              <a class="button_wrapper" href="#">
                <div class="image">
                  <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_10.png?v=1671191937">
                </div>
                <div class="btn_text">
                  Learn More <br>
                  from Marcus
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="image_text_slider">
        <div class="image_text_slider_wrapper">
          <div class="swiper image_text_slide_main">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide item_1">
                <div class="slide_item_wrapper">
                  <div class="text h1">
                    Just because they claim “juice” and “pressed” and “health” doesn’t mean they are.
                  </div>
                </div>
              </div>
              <div class="swiper-slide item_2">
                <div class="slide_item_wrapper">
                  <div class="text h1">In fact, as Marcus saw first hand, it likely means they’re not.</div>
                </div>
              </div>
              <div class="swiper-slide item_3">
                <div class="slide_item_wrapper">
                  <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/DISGUSTING-JUICE_1_2.png?v=1672132355">
                  </div>
                </div>
              </div>
              <div class="swiper-slide item_4">
                <div class="slide_item_wrapper">
                  <div class="image">
                    <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/DISGUSTING-JUICE_1_3.png?v=1672132355">
                  </div>
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
  
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
  
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
          </div>
        </div>
      </div>
      <div class="center_image_main">
        <div class="center_image_wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/celery_goodsugar_1.png?v=1672134898">
        </div>
      </div>
    </div>
  </div>

<script src="{{ 'about-map.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "About image with Slider",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "About Center image with Slider",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}

