{{ 'about-map.css' | asset_url | stylesheet_tag }}

<div class="about_map" id="about-mp--{{ section.id }}">
    <div class="about_map_main">
        <div class="about_map_wrapper map--small">
            <div class="map_text_container">
              <div class="map_text_title_box">
                <div class="map_text_title">
                  <h1>Truly Pure Juice and Food.</h1>
                </div>
              </div>
              <div class="map_text_subtext_box">
                <div class="map_text_subtext">
                  <p>With goodsugar, you don’t have to compromise between what your taste buds want and what your body needs.
                </p>
                </div>
              </div>
            </div>
            <div class="map_container">
              <div class="map_container_main">
                <div id="googleMap">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58739.61869188914!2d72.51383399424148!3d23.05216844401691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e84d583031261%3A0x8559b0bfc373c247!2sAumento%20Infoway%20Pvt.%20Ltd.!5e0!3m2!1sen!2sin!4v1671688401545!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ 'about-map.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "About Map",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "About Map",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}


