{{ 'about-compair.css' | asset_url | stylesheet_tag }}


<div class="about_compair">
    <div class="about_compair_wrapper">
      <div class="about_compair_main">
        <div class="compair_item item_1">
          <div class="compair_item_wrapper">
            <div class="compair_header h1">goodsugar</div>
            <div class="compair_sub_text">(us)</div>
            <div class="compair_details_data">
              <ul>
                <li>What is Lorem Ipsum?</li>
                <li>Why do we use it?</li>
                <li>Where can I get some?</li>
              </ul>
            </div>
            <div class="about_compair_sticker">
              <div class="compair_sticker_image">
                <img src="https://cdn.shopify.com/s/files/1/0680/9331/3298/files/image_23_1.png?v=1672637701">
              </div>
            </div>
          </div>
        </div>
        <div class="compair_item item_2">
          <div class="compair_item_wrapper">
            <div class="compair_header h1">badsugar</div>
            <div class="compair_sub_text">(them)</div>
            <div class="compair_details_data">
              <ul>
                <li>What is Lorem Ipsum?</li>
                <li>Why do we use it?</li>
                <li>Where can I get some?</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

{% schema %}
{
  "name": "About Compair",
  "tag": "section",
  "settings": [
    
  ],
  
  "presets": [
     {
       "name": "About Compair",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}
