
{{ 'about-line-content.css' | asset_url | stylesheet_tag }}

{%- if section.settings.title != blank or section.settings.subtitle != blank or section.settings.bottom_text != blank-%}
  <div class="about_line_content" id="about_line_content">
      <div class="about_line_wrapper">
        {%- if section.settings.title != blank -%}
          <div class="heading">
          {{- section.settings.title -}}
          </div>
        {%- endif -%}
        <div class="about_line_content_box">
          {%- if section.settings.subtitle != blank -%}
            <div class="about_line_box_text">
              {{- section.settings.subtitle -}}     
            </div>
          {%- endif -%}
          {%- if section.settings.title != blank or section.settings.subtitle != blank or section.settings.bottom_text != blank-%}
            <div class="about_line_box_line">
              <div class="about_line_box_line_container">
                <div class="line"></div>
               {% comment %} <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>{% endcomment %}
              </div>
              {%- if section.settings.bottom_text != blank -%}
                <div class="about_line_box_line_text">
                  {{- section.settings.bottom_text -}}
                </div>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "About Line Content",
  "tag": "section",
  "settings": [
    {
      "type":"richtext",
      "id":"title",
      "label":"Title"
    },
    {
      "type":"richtext",
      "id":"subtitle",
      "label":"Subtitle Text"
    },
    {
      "type":"richtext",
      "id":"bottom_text",
      "label":"Bottom Text"
    }
  ],
  
  "presets": [
     {
       "name": "About Line Content",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}
