{{ 'about-text-image.css' | asset_url | stylesheet_tag }}

{%- if section.settings.text_title or section.settings.section_image -%}
<div class="about_text_image">
    <div class="about_text_image_wrapper">
      {%- if section.settings.text_title -%}
        <div class="about_text_box">
          {%- if section.settings.text_title -%}
            <div class="about_text_box_main">
              <div class="text">{{- section.settings.text_title -}}</div>
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- if section.settings.section_image -%}
        <div class="about_image_box">
          <div class="about_image_box_main">
            {%- if section.settings.section_image -%}
              <div class="image">
                <img src="{{- section.settings.section_image | image_url -}}">
              </div>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
</div>
{%- endif -%}

{% schema %}
{
  "name": "About Text With Image",
  "tag": "section",
  "settings": [
    {
      "type":"richtext",
      "id":"text_title",
      "label":"Right Text"
    },
    {
      "type":"image_picker",
      "id":"section_image",
      "label":"Image"
    }
    
  ],
  
  "presets": [
     {
       "name": "About Text With Image",
       "settings": {
          
        }
     }
   ]
}
{% endschema %}
