.about_center_image .heading_text {
    color: var(--custom-text_color);
    line-height: 1.05;
    white-space: nowrap;
    text-transform: lowercase;
}
.about_center_image .heading {
    padding: 155px 20px;
    background-color: #ECA847;
    overflow-y: auto;
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}
.image_text_slider {
    border-top:var(--custom-border-width) solid var(--custom-border-color);
    border-bottom:var(--custom-border-width) solid var(--custom-border-color);
}

.image_text_main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 155px 220px 113px 200px;
    background-color: #ffffff;
}
.image_text_main > div {
    width: calc(100% / 3);
}
.button_wrapper {
    max-width: 220px;
    max-height: 126px;
    position: relative;
    display: inline-block;
    transform: rotate(-2deg);
}

.button_wrapper:hover img {
    transform: scale(1.2);
}
.button_wrapper img,
.button_wrapper:hover img {
    transition: all 200ms ease;
}
.button_wrapper img,
.button_wrapper .image {
    height: 100%;
    width: 100%;
}
.button_wrapper img {
    display: block;
}
.btn_text {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* font-size: var(--price-font-size); */    
}
.btn_text p {
    margin: 0;
    line-height: 1.05;
    font-family: var(--nav-font-family);
    color: #000000;
    font-size: 25px;
}
.image_text_button {
    margin-top: 80px;
}
.image_text_item.item_1 .text p {
    font-family: var(--font-heading-family);
}
.image_text_item .text p {
    font-size: var(--body-font-size);
    color: var(--custom-text_color);
    line-height: 1.12;
    text-transform: lowercase;
    margin: 0;
    
}
.slide_item_wrapper .text {
    padding: 70px 100px 70px 200px;
}
.style_2 .text p,
.slide_item_wrapper .text p {
    max-width: 685px;
    color: var(--custom-text_color);
    line-height: 1.15;
    /* padding: 70px; */
    /* padding-left: 2000px; */
    margin: 0;
    text-transform: lowercase;
}
.slide_item_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}
.image_text_slider_wrapper .swiper-wrapper  {
align-items: center;
}
.slide_item_wrapper img,
.slide_item_wrapper .image {
    /* height: 100%; */
    /* width: 100%; */
}

.slide_item_wrapper .image {
    /* max-height: 373px; */
    max-width: 400px;
    height: 100%;
}
.slide_item_wrapper img {
    display: block;
    /* object-fit: cover; */
    height: 100%;
    width: 100%;
    
}
.image_text_slider .swiper-autoheight,
.image_text_slider .swiper-autoheight .swiper-slide {
    height: 100%;
    /* width: fit-content; */
}

.center_image_wrapper img {
    height: 100%;
    width: 100%;
    display: block;
}

.about_center_image_wrapper {
    position: relative;
    overflow: hidden;
}
.center_image_main {
    position: absolute;
    top:12.3%;
    left: 0;
    right: 0;
    bottom: 30%;
    z-index: 2;
}
.center_image_main {
    width: 37%;
    /* max-width: 32%; */
    margin: 0 31%;

}
.image_text_item.item_1.left_part {
    max-width: 424px;
}
.image_text_item.right_part {
max-width: 432px;
}
.image_text_item.right_part .text p {
    font-size: 20px;
    line-height: 1.15;
}

.slider_style_2_image_wrapper {
    display: flex;
    height: 100%;
}
.style_2 .slide_item_wrapper {
justify-content: space-between;
}

.style_2 .text p, .slide_item_wrapper .text p {
    font-size: 50px;
} 
.style_1.slide_item_2 {
width: calc(100% - 800px);
}
.style_1.slide_item_4, 
.style_1.slide_item_3 {
    width: 400px;
}
.style_1.slide_item_3 .slide_item_wrapper {
    display: block;
}


@media screen and (max-width:1500px) {
    .style_1.slide_item_2 {
        width: 800px;
    }
}
@media screen and (max-width:1200px) {
    .image_text_main {
        padding: 100px 100px 100px 150px;
    }
    .slide_item_wrapper .text {
        padding-left: 150px;
    }
}

@media screen and (max-width:1024px) {
    .slide_item_wrapper .text,
    .image_text_main {
        padding-left: 70px;
        padding-bottom: 70px;
    }
    .image_text_slider_wrapper .swiper-wrapper {
        padding-left: 0px;
    }
    .style_1.slide_item_4,
    .style_1.slide_item_3 {
        width: fit-content;
    }
    .about_center_image .heading_text {
        --heading-h1-font-size:40px;
    }
    .image_text_item .text p {
        font-size: 15px;
    }
    .image_text_item.right_part .text p {
        font-size: 17px;
    }
    .btn_text p {
        font-size: 22px;
    }
    .button_wrapper {
        max-width: 180px;
        max-height: 110px;
    }
    .style_2 .text p, .slide_item_wrapper .text p {
        font-size: 40px;
    }
    .about_center_image .heading {
        padding: 130px 20px;
    }
    .image_text_button {
        margin-top: 60px;
    }
}
@media screen and (max-width:749px) {
    .about_center_image .heading_text {
        --heading-h1-font-size:25px;
    }
    .image_text_main {
        padding: 29px 20px 27px 20px;
        display: block;
    }
    .image_text_main > div {
        /* width: 45%; */
    }
    .image_text_slider_wrapper .swiper-wrapper {
        padding-left: 0px;
    }
    .image_text_button {
        margin-top: 15px;
    }
    .image_text_item.right_part .text p {
        font-size: 9px;
    }
    .image_text_item.item_2 {
        margin-top: 15px;
    }
    .about_center_image .heading {
        padding: 35px 20px;
    }
    .center_image_main {
        left: auto;
        /* max-width: 80%; */
        width: 77%;
        /* right: -50px; */
        top: 3%;
        margin: 0 auto;
        /* overflow: hidden; */
    }
    .slide_item_wrapper .text {
        padding: 37px 20px;
    }
    .slide_item_wrapper .image {
        max-width: 100%;
        max-height: 100%;
    }
    .center_image_wrapper {
        margin-right: -50px;
        margin-left: auto;
        max-width: 400px;
    }
    .style_2 .text p,
    .slide_item_wrapper .text p {
        max-width: 230px;
        padding: 0;
        font-size: 20px;
    }
    .btn_text p {
        font-size: 11px;
    }
    .button_wrapper {
        max-width: 100px;
        max-height: 58px;
    }
    .slide_item_wrapper img {
        max-height: 189px;
    }
    .style_2 .text p, .slide_item_wrapper .text p {
        font-size: 20px;
    }
    .style_1.slide_item_2 {
        width: 300px;
    }
    .image_text_item .text p {
        font-size: 9px;
    }  
}