.text_grid_container p {
  padding: 0;
  margin: 0;
}
.about_text_grid_main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text_grid.left_part {
  max-width: 506px;
  width: 60%;
}

.text_grid.right_part {
  width: 40%;
}

.about_text_grid_wrapper {
  padding: 100px 200px 100px 200px;
}