.about_image_text .text {
    color: #FFFF73;
    max-width: 880px;
    padding-top: 135px;
    padding-left: 220px;
    text-align: left;
    text-transform: lowercase;
}

.about_image_text {
    background: linear-gradient(83deg, rgba(210, 200, 219, 1), rgba(255, 204, 75, 1) 100%);
}

.about_image_text img {
    height: 100%;
    width: 100%;
    display: block;
}

.about_image_text .image {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

.sticker_image {
    position: relative;
    max-width: 165px;
    max-height: 165px;
    cursor: pointer;
}

.sticker_image:hover img {
    transform: scale(1.2);
    
}
.sticker_image img,
.sticker_image:hover img {
    transition: all 200ms ease;
}
.sticker_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: var(--nav-font-family);
    line-height: 1.05;
    text-align: center;
    text-decoration: none;
    color: #000000;
    
}
.sticker_text a {
    
}


.about_image_text_wrapper {
    /* position: relative; */
}
.about_image_text_sticker {
    /* position: absolute; */

}
.sticker_image_main.desktop {
    position: absolute;
    top: -34px;
    right: 60px;
}

@media screen and (min-width:750px) {
    .image_main {
        margin-top: 100px;
        padding: 20px 20px 0px 20px;
        /* position: relative; */
    }
}

@media screen and (max-width:1200px) {
    .about_image_text .text {
        padding-left: 150px;
    }
}
@media screen and (max-width:1024px) {
    .about_image_text .text {
        padding-top: 100px;
        padding-left: 100px;
    }
}
@media screen and (max-width:749px) {
    .about_image_text .text {
        padding-top: 26px;
        padding-left: 20px;
        max-width: 60%;
        --heading-h1-font-size:20px;
        line-height: 1.15;
        padding-bottom: 33px;
        position: relative;
        z-index: 2;
    }
    .about_image_text_wrapper {
        position: relative;
        min-height: 300px;
    }
    .about_image_text .image_main {
        position: absolute;
        top: auto;
        max-width: 70%;
        bottom: 0;
        right: 0;
        z-index: 1;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .about_image_text .image {
           /* max-width: 70%; */
    margin: 0 0 0 auto;
    max-height: 70%;
    height: 100%;
    }
    .sticker_image {
        max-width: 70px;
        max-height: 70px;
    }
    .sticker_text {
        font-size: 11px;
        transform: rotate(-9deg);
    }
    .sticker_image .image {
        max-width: 100%;
    }
    .sticker_image_main.desktop {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 15px;
        left: 0;
        width: 100%;
        text-align: center;
        align-items: flex-end;
        display: flex;
        height: 100%;
        justify-content: center;
    }
}