.overlay_text_content_main .text {
    font-size: 50px;
    font-family: var(--font-heading-family);
    /* color: #FFFF73; */
    line-height: 1.05;
    text-transform: lowercase;
}
.about_image_overlay_text_main {
    position: relative;
    border-top: var(--custom-border-width) solid var(--custom-border-color);
    
}
.overlay_text_content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 130px 100px 127px 200px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 16.84%, rgba(0, 0, 0, 0) 75.07%);
    
}
.about_image_overlay_text_main .image {
    height: 100%;
    width: 100%;
    position: absolute;
}

.about_image_overlay_text_main img {
    height: 100%;
    width: 100%;
    display: block;
    /* min-height: 550px; */
    object-fit: cover;
}

.overlay_text_content_main {
    max-width: 731px;
}

@media screen and (min-width:750px) {
    .overlay_text_content {
        min-height: 725px;
    }
}
@media screen and (max-width:1200px) {
    .overlay_text_content {
        padding-left: 150px;
    }
}

@media screen and (max-width:1024px) {
    .overlay_text_content {
        padding-left: 70px;
    }
}
@media screen and (max-width:749px) {
    .overlay_text_content_main .text {
        font-size: 20px;
        line-height: 1.15;
    }
    .about_image_overlay_text_main img {
        /* min-height: 185px; */
    }
    .overlay_text_content {
        padding: 20px;
    }
    .overlay_text_content_main {
        max-width: 206px;
    }
}