.about_line_content .heading p {
    max-width: 665px;
    color: var(--custom-text_color);
    font-size: 20px;
    font-family: var(--font-heading-family);
    text-transform: lowercase;
    margin: 0 ;
}
.about_line_content {
    background-color: #ffffff;
}
 
.about_line_wrapper {
    padding: 127px 200px 130px 200px;
}
.about_line_content_box {
    margin-top: 40px;
    display: flex;
    column-gap: 40px;
}
.about_line_box_text p {
    font-size: 20px;
    color: var(--custom-text_color);
    text-transform: lowercase;
    margin: 0 ;
}
.about_line_box_text {
    width: 30%;
    max-width: 340px;
}
.about_line_box_line {
    width: 70%;
}
.about_line_box_line_container {
    width: 100%;
}
.line {
    width: 100%;
    height:var(--custom-border-width);
    background-color: var(--custom-border-color);  
     /* height:var(--custom-border-width);
    background-color: var(--custom-border-color);     */  
    display: block !important;
    margin-top: 40px;
}
.line p {
    color: var(--custom-text_color);
}
.about_line_box_line_text {
    font-size: 30px;
    color: #000000;
    font-family: var(--nav-font-family);
    margin-top: 56px;
    transform: rotate(-1deg);
    max-width: 707px;  
}
.about_line_box_line_text p {
    margin: 0;
}

@media screen and (max-width:1200px) {
    .about_line_wrapper {
        padding-left: 150px;
    }
}
@media screen and (max-width:1024px) {
    .about_line_wrapper {
        padding-left: 70px;
    }
}
@media screen and (max-width:749px) {
    .about_line_wrapper {
        padding: 0;
    }
    
    .about_line_content_box {
        display: block;
    }
    .about_line_box_line,
    .about_line_box_text {
        width: 100%;
    }
    .about_line_content .heading p {
        padding: 25px 20px 0px 20px;
        font-size: 9px;
        max-width: 300px;
    }
    .about_line_content_box {
        margin-top: 10px;
        /* padding: 0 20px; */
    }
    .about_line_box_text p {
        font-size: 9px; 
    }
    .about_line_box_text {
        padding: 0 20px;
        max-width: 300px;
    }
    .about_line_box_line_text {
        margin-top: 30px;
        font-size: 18px;
        padding: 0 20px 30px 20px;
    }
    .line {
        margin-top: 38px;
        padding: 0 20px;
    }
}