

/* Map Section */

/* .about_map {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.map_container_main,
#googleMap,
#googleMap iframe {
height: 100%;
width: 100%;
}

.page-about main#MainContent {
    min-height: 100% !important;
}

#googleMap iframe {
    border: none;
    display: block;
}

.about_map_main {
  border-top: var(--custom-border-width) solid var(--custom-text_color);
  border-bottom: var(--custom-border-width) solid var(--custom-text_color);
  position: relative;
}

.map_text_title h1 {
  color: var(--custom-text_color);
  margin: 0;
  /* text-transform: lowercase; */
}
.map_text_subtext_box,
.map_text_title_box {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 100px 100px 200px;
}
.map_text_title_box {
  border-bottom: var(--custom-border-width) solid var(--custom-text_color);  
}
.map_text_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  background: linear-gradient(270deg, #F5EA64 7.56%, #D1C7DF 87.35%);
}

.map_text_subtext p {
  margin: 0;
  color: var(--custom-text_color);
  line-height: 1.1;
  font-size: var(--body-font-size);
  text-transform: lowercase;
  font-family: var(--font-heading-family);
}
.map_sticker_image img:hover {
  transform: scale(1.2);
}
.about_map_sticker {
  position: absolute;
  /* top:0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  /* height: 100%; */
  /* width: 100%; */
  z-index: 3;
}
.map_sticker_image,
.about_map_sticker img {
  height: 100%;
  width: 100%;
  display: block;
}
.about_map_sticker.image-type-rectangle {
  top: -37px;
  left: 42%;
}
.about_map_sticker.image-type-ellipse {
  top: 37.5%;
  left: -15px;
}
.about_map_sticker.image-type-circle {
  top:55%;
  left: 55%;
}
/* .about_map_sticker.image-type-rectangle .map_sticker_image,
.about_map_sticker.image-type-rectangle img, */
.about_map_sticker.image-type-rectangle .map_sticker_container {
  height: 160px;
  width: 245px;
  transform: rotate(4deg);
}
.about_map_sticker.image-type-ellipse .map_sticker_container {
width: 240px;
height: 110px;
transform: rotate(-10deg);
}
.about_map_sticker.image-type-circle .map_sticker_container {
  height: 165px;
  width: 165px;
  transform: rotate(5deg);
  
}

.map_sticker_text .text {
  font-size: 25px;
  line-height: 1.01;
  color: #000000;
  font-family: var(--nav-font-family);
}
.map_sticker_container {
  position: relative;
  cursor: pointer;
}
.map_sticker_text {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.map_text_subtext {
  max-width: 450px;
}
.about_map_content {
  border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}
.about_map_content .text {
  margin: 0 auto;
  padding: 50px 200px;
  width:100%;
  
}
.map_location_text p a,
.about_map_content p a {
  color:var(--custom-text_color);
  text-decoration: underline;
  text-underline-offset: 6px;
}
.map_location_text p a:hover,
.about_map_content p a:hover {
      background-size: 0;
}

.about_map_content span {
  color: var(--custom-text_color);
}
.map_location_text p,
.about_map_content .text p {
  color: var(--custom-text_color);
  line-height: 1.1;
  font-size: calc(var(--body-font-size) + 2px);
  text-transform: lowercase;
}
.about_map_content.small-hide {
  background: linear-gradient(233deg, #F6D42B 7.56%, #D9D9D9 87.35%);
  backdrop-filter: blur(2px)
}

@media screen and (min-width:750px) {
  .about_map_wrapper {
    display: flex;
    /* align-items: flex-start; */
    /* justify-content: center; */
    height: calc(100vh - var(--header-height) - 6px);
  }
 .map--small .map_container {
    width: 38%;
  }
  .map--small .map_text_container {
    width: 62%;
  }
  .map_container {
    border-left: var(--custom-border-width) solid var(--custom-text_color);
  }
  .map_text_title {
    max-width: 520px;
    /* margin: 0 auto; */
  }
}

@media screen and (max-width:1600px) {
  .about_map_sticker.image-type-circle {
    top:55%;
    left: 53%;
  }
}

@media screen and (max-width:1400px) {
  .about_map_sticker.image-type-circle {
    top:55%;
    left: 52%;
  }
}

@media screen and (max-width:1200px) {
  .map_text_subtext_box, .map_text_title_box {
    padding: 100px 100px 100px 150px;
  }
  .about_map_sticker.image-type-circle {
    top:55%;
    left: 50%;
  }
  .about_map_content .text {
    max-width: 75%;
  }
}
@media screen and (max-width:1024px) {
  .map_text_subtext_box, .map_text_title_box {
    padding:100px 30px 100px 70px;
  }
  .map_text_title h1 {
    --heading-h1-font-size:32px;
  }
  .about_map_sticker.image-type-circle {
    top:55%;
    left: 51%;
  }
  .about_map_sticker.image-type-rectangle .map_sticker_container {
    height: 120px;
    width: 180px;
  }
  .about_map_sticker.image-type-ellipse .map_sticker_container {
    height: 80px;
    width: 200px;
  }
  .about_map_sticker.image-type-circle .map_sticker_container {
    height: 130px;
    width: 130px;
  }
  .about_map_sticker.image-type-rectangle {
    left: 35%;
  }
  .about_map_sticker.image-type-ellipse {
    top: 43%;
  }
  .about_map_content .text {
    max-width: 85%;
  }
}



@media screen and (max-width:900px) {
  .about_map_sticker.image-type-circle {
    top:55%;
    left: 49%;
  }
}


@media screen and (max-width:749px) {
  .map_text_title h1 {
    --heading-h1-font-size:25px;
  }
  .about_map_sticker {
    z-index: 2;
  }
  .about_map_sticker.image-type-rectangle .map_sticker_container {
    width: 100px;
    height: 70px;
  }
  .about_map_sticker.image-type-ellipse .map_sticker_container {
    height: 45px;
    width: 100px;
  }
  .about_map_sticker.image-type-circle .map_sticker_container {
    height: 70px;
    width: 70px;
  }
  .map_sticker_text .text {
    font-size: 11px;
  }
  .map_text_subtext_box, .map_text_title_box {
    padding: 20px;
  }
  .map_text_title {
    max-width: 220px;
  }
  .map_text_subtext {
    max-width: 134px;
  }
  .map_text_container {
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
  }
  .map_container {
        display: flex;
    align-items: stretch;
    background: linear-gradient(270deg,#F5EA64 1.56%,#D1C7DF 91.35%);
  }
  .map_container_main,
  .map_location_main {
    width: 50%;
    min-height: 189px;
  }
  #googleMap iframe {
    min-height: 189px;
  }
  .map_location_main {
    border-left: var(--custom-border-width) solid var(--custom-border-color);
    display: flex;
    align-items: center;
    
  }
  .map_location_text {
    font-size: var(--body-font-size);
    line-height: 1.1;
    color: var(--custom-text_color);
    padding: 40px 10px 30px 20px;
  }
  .map_location_text span {
    font-family: var(--font-heading-family);
    color: var(--custom-text_color);
    word-break: break-word;
  }
  .map_container_main {
    height:inherit;
  }
  #googleMap {
    height: 100%;
  }
  .about_map_sticker.item_2 {
    padding: 20px;
  }
  .about_map_sticker.image-type-rectangle {
    padding-right: 20px;
    /* top: 35px; */
    /* left: auto; */
    /* right: 0; */
    /* z-index: 4; */
  }
  .about_map_sticker.item_3 {
    padding: 20px;
  }
  .about_map_sticker.image-type-ellipse {
    top:20px;
    left: auto;
    right: 20px;
  }
  .about_map_sticker.image-type-rectangle {
    top:60px;
    left:auto;
    right: 0px;
  }
  .about_map_sticker.image-type-circle {
    top: 115px;
    left: auto;
    right: 31px;
  }
  .map_location_text p, .about_map_content .text p {
    font-size: var(--body-font-size);
        word-break: break-word;
  }
  .map_location_text p a, .about_map_content p a {
    text-underline-offset: 3px;
  }
}
