.custom_heading_wrapper .text {
    font-family: var(--nav-font-family);
    font-size: 45px;
    line-height: 1.05;
    padding: 0 7px;
    display: inline-block;
}

.custom_heading_wrapper .heading {
    padding: 60px 200px;
}

.custom_heading_wrapper span {
    
    transform: rotate(-2deg);
}

.custom_heading_wrapper {
    background-color: #ffffff;
}

@media screen and (max-width:1200px){
    .custom_heading_wrapper .heading {
        padding: 60px 150px;
    }
}
@media screen and (max-width:1024px) {
    .custom_heading_wrapper .heading {
        padding: 60px 100px;
    }
}

@media screen and (max-width:749px) {
    .custom_heading_wrapper .text {
        font-size: 18px;
    }
    .custom_heading_wrapper .heading {
        padding: 20px 20px;
    }
}