.text_grid_container p {
  padding: 0;
  margin: 0;
  color: var(--custom-text_color);
  font-size: 20px;  
  text-transform: lowercase;
}
.about_text_grid_main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 100px;
}

.about-text-image-grid {
  background: radial-gradient(at top,#F9EE58 1%,#fff 80%,#fff);
  
}
.about_text_grid_wrapper {
  /* transform: matrix(1, 0, 0, 0, 0, 0); */
}
.text_grid.left_part .text {
  max-width: 506px;
}
.text_grid.left_part,
.about_text_grid_box_main.left_part {
  width: 60%;
  max-width: 60%;
}

.about_text_grid_box_main.right_part,
.text_grid.right_part {
  width: 40%;
  max-width: 40%;
}
.about_text_grid_wrapper {
  padding: 100px 200px 68px 200px;
  border-top: var(--custom-border-width) solid var(--custom-border-color);
}

.text_grid_container strong {
  font-family: var(--font-heading-family);
  color: var(--custom-text_color);
}
.about_text_grid_box {
  display: flex;
}
.about_text_grid_box_main_wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
}
.about_text_grid_box_main_wrapper .heading {

  border-bottom: var(--custom-border-width) solid var(--custom-border-color);
  display: flex;
  align-items: center;
  padding: 130px 100px 130px 200px;
  min-height: 370px;
}
.about_text_grid_box_main_wrapper .heading p {
  font-size: 50px;
  color: var(--custom-text_color);
  font-family: var(--font-heading-family);
}

.about_text_grid_box_main_wrapper p {
  color: var(--custom-text_color);
  margin: 0;
  max-width: 447px;
  font-family: var(--font-heading-family);
  font-size: 20px;
  text-transform: lowercase;
}

.image_wrapper img {
  height: 100%;
  width: 100%;
  display: block;
  background: transparent;
  border-radius: 100%;
}

.about_text_grid_box_main_wrapper .text {
  display: flex;
  align-items: center;
  min-height: 360px;
  padding: 140px 100px 140px 200px;
}

.image_wrapper .media  {
  background: transparent;
}
.image_wrapper {
  max-width: 407px;
  /* height: 100%; */
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.about_text_image_grid_box {
  border-top: var(--custom-border-width) solid var(--custom-border-color);
  border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}

.about_text_grid_box_main.left_part {
  border-right: var(--custom-border-width) solid var(--custom-border-color);
}
.about_text_grid_box_main_wrapper .text,
.about_text_grid_box_main_wrapper .heading {
  /* height: 50%; */
}

.about_text_grid_box_main.right_part {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.about_text_grid_button_wrapper .button_image {
  position: relative;
  max-width: 241px;
  max-height: 110px;
  margin: -60px -33% 0 auto;
  cursor: pointer;
}
.about_text_grid_button_wrapper .button_image img:hover {
transform: scale(1.2);
}
.about_text_grid_button_wrapper img,
.about_text_grid_button_wrapper .button_image:hover img {
  /* transition: all 200ms ease; */
}

.about_text_grid_button_wrapper img,
.about_text_grid_button_wrapper .image {
  height: 100%;
  width: 100%;
}
.about_text_grid_button_wrapper .button_text {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
}

.about_text_grid_button_wrapper a {
  text-decoration: none;
  color: #000000;
  font-family: var(--nav-font-family);
  font-size: 25px;
  line-height: 1.05;
}
.about_text_grid_button,
.text_grid.right_part .text {
max-width: 430px;
}
.text_grid.right_part .text {
  z-index: 2;
  position: relative;
}
.text_grid.right_part .text_grid_container {
  position: relative;
}

@media screen and (max-width:1600px) {
  .about_text_grid_box_main_wrapper .text,
  .about_text_grid_box_main_wrapper .heading {
    padding: 100px 150px 100px 200px;
  }
  .about_text_grid_wrapper {
    padding-left: 200px;
  }
}

@media screen and (max-width:1450px) {
  .about_text_grid_button_wrapper .button_image {
    margin: 5px -10% 0 auto;
  }
}

@media screen and (max-width:1200px) {
  .about_text_grid_wrapper {
    padding-left: 150px;
    padding-right: 100px;
  }
  .about_text_grid_box_main_wrapper .text,
  .about_text_grid_box_main_wrapper .heading {
    padding-left: 150px;
  }
}
@media screen and (max-width:1024px) {
  .about_text_grid_box_main_wrapper .text,
  .about_text_grid_box_main_wrapper .heading {
    padding: 100px 35px 100px 70px;
  }
  .about_text_grid_main {
    column-gap: 50px;
  }
  .text_grid.left_part {
    max-width: calc(60% - 50px);
    width: calc(60% - 50px);
  }
  .about_text_grid_button_wrapper img, .about_text_grid_button_wrapper .image,
  .about_text_grid_button_wrapper .button_image {
    max-width: 174px;
    max-height: 75px;
  }
  .about_text_grid_wrapper {
    padding-left: 70px;
  }
  .about_text_grid_box_main_wrapper .heading p {
    font-size: 40px;
  }
}
@media screen and (max-width:749px) {
  
  .about_text_grid_wrapper {
    padding: 30px 20px;
  }
  .about_text_grid_main {
    flex-direction: column;
  }
  .text_grid.right_part,
  .text_grid.left_part {
    width: 100%;
    max-width: 100%;
  }
  .text_grid.right_part {
    margin-top: 10px;
  }
  .text_grid_container p {
    font-size: 9px;
  }
  .about_text_grid_button_wrapper .button_image {
    max-width: 100px;
    max-height: 45px;
    margin: -20px 23% 0 auto;
  }
  .about_text_grid_button_wrapper a {
    font-size: 11px;
  }
  .about_text_grid_box_main_wrapper .heading {
    min-height: 100px;
  }
  .about_text_grid_box_main_wrapper .heading p {
    font-size: 25px;
    
  } 
  .about_text_grid_box_main_wrapper .text p {
    font-size: 9px;
    max-width: 134px;
  }
  .about_text_grid_box_main_wrapper .text {
    min-height: 100px;
  }
  .about_text_grid_box_main.right_part,
  .about_text_grid_box_main_wrapper .heading,
  .about_text_grid_box_main_wrapper .text {
    padding: 20px;
  }
  .about_text_grid_button, .text_grid.right_part .text,
  .text_grid.left_part .text {
    max-width: 300px;
  }
}