.compair_header {
    color: var(--custom-text_color);
    line-height: 1.05;
}
.about_compair_main {
    display: flex;
    align-items: flex-start;
}
.compair_item {
    width: calc(100% / 2);
    padding: 135px 163px 260px 200px;
}
.about_compair_wrapper {
    border-top: var(--custom-border-width) solid var(--custom-border-color);
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
    background-color:#ECA847;
}
.compair_item.item_1 {
    border-right: var(--custom-border-width) solid var(--custom-border-color);
}

.compair_sub_text {
    font-family: var(--nav-font-family);
    font-size: 45px;
    line-height: 1.05;
}
.compair_details_data ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.compair_details_data {
    margin-top:100px;
}
.compair_details_data li {
    font-size: 20px;
    color: var(--custom-text_color);
    font-family: var(--font-heading-family);
    line-height: 1.15;
    display: block;
}
.compair_item.item_1 .compair_item_wrapper {
    position: relative;
}
.about_compair_sticker {
    position: absolute;
    max-width: 150px;
    max-height: 300px;
    top: auto;
    bottom: -60px;
    right: 0;
    height: 100%;
    width: fit-content;
}
.compair_sticker_image img,
.compair_sticker_image {
    height: 100%;
    width: 100%;
}
@media screen and (max-width:1600px) {
    .compair_item {
        padding-right: 100px;
    }
}
@media screen and (max-width:1400px) {
    .compair_item {
        padding-right: 70px;
    }
} 
@media screen and (max-width:1200px) {
    .compair_item {
        padding: 100px 50px 100px 150px;
    }
}
@media screen and (max-width:1024px) {
    .compair_item {
        padding: 100px 20px 100px 100px;
    }
}
@media screen and (max-width:749px) {
    .compair_item {
        padding: 26px 29px 50px 20px;
    }
    .compair_item_wrapper {
        --heading-h1-font-size:20px;
    }
    .compair_header {
        line-height: 1.15;
    }
    .compair_sub_text {
        font-size: 18px;
    }
    .compair_details_data ul {
        row-gap: 8px;
    }
    .compair_details_data li {
        font-size: 9px;
    }
    .compair_details_data {
        margin-top: 18px;
    }
    .about_compair_sticker {
        bottom: -25px;
    }
}