body {
    background: url("https://cdn.shopify.com/s/files/1/0680/9331/3298/files/main-bg.png?v=1670477655");
    background-repeat: repeat;
    background-size: cover;
    overflow-x: hidden;
    background-position: center;
}
header-drawer
{
    display: block;
}
.container {width: 1810px;max-width: 100%;padding: 0 15px;margin: 0 auto;clear: both;}
.header-wrapper .header {width: 100%;float: left;display: block;padding: 43px 0 47px;background: transparent;transition: 175ms ease-in;position: relative;}
.section-header {display: flex;flex-wrap: wrap;justify-content: space-between;width: 100%;align-items: center;}
* {box-sizing: border-box; }
.header-wrapper {width: 100%;background: transparent;border: none;}
.section-header a.header__heading-link.link {margin: 0; padding: 0; }
.search-modal__form .field:before, .search-modal__form .field:after {display: none; }
.search_model .search-modal__form {max-width: 100%; border: none; }
.search_model .field {transition: none; border: none; }
.search_model .search-input {font-size: 16px;color: #000;font-family: 'Hiragino Sans';line-height: normal;letter-spacing: 0;font-weight: 300;margin: 0;display: inline-block;}
.search_model input.search-input::placeholder {color: #000;}
.search_model .search-input{ text-transform: lowercase; background: #FDFDFD;border: 3px solid #000000;border-radius: 51px;width: 580px;height: 48px;padding: 0 41px 0 21px;margin: 0;}
.section-header .menu-drawer{transform: translateX(100%);left: auto;right: 0;background: url(menu-bg.png) no-repeat;background-position: center;background-size: cover;top: 0;height: 100vh !important;padding: 148px 70px 50px;overflow: hidden;width: 309px;}
body.overflow-hidden-tablet{overflow-x: hidden;}
.search_model .search__button {border: none; padding: 0; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); height: 20px; width: 14px; }
.header-right {display: flex;align-items: center;flex-wrap: wrap;}
.header-right .header-cart {font-size: 20px; line-height: 21px; font-family: var(--font-heading-family); font-weight: 800; text-decoration: none; color: #000; letter-spacing: 0; margin: 0 0 -5px;
    display: inline-block;}
.header-right .cart {font-size: 0;position: relative;z-index: 9;}
.header__icon .icon {height: 17px;width: 27px;fill: none;vertical-align: middle;}
.header__icon:hover .icon, .modal__close-button:hover .icon {transform: inherit; }
.header-right header-drawer {margin-left: 37px;}
.header-right header-drawer .header__icon {height: 14px;width: 27px;position: relative;z-index: 99999999;}
.search_model .field__input:focus ~ .field__label{top: 50%; transform: translateY(-50%); left: 21px; font-size: 16px; letter-spacing: 0;}
.search_model .field__input:focus, .search_model .field__input:not(:placeholder-shown), .search_model .field__input:-webkit-autofill{box-shadow: inherit;}
.search_model .search-input:focus-visible {box-shadow: inherit; outline: none; outline-offset: 0; }

.menu-drawer .list-menu__item{font-family: var(--nav-font-family); font-weight: var(--nav-body-weight); font-size: var(--nav-font-size);}

:root,
p, body {
  color: rgb(var(--text-color));
}

:root,
h1, .h1-style, h2, h3, h4, h5, h6, .heading-font {
    color: rgb(var(--heading-color));
}

:root,
span {
    color: rgb(var(--sub-heading-color));
}
.shopify-section-header-sticky .header {position: fixed; background: #fff !important; padding: 25px 0; transition: 175ms ease-in; }

div#menu-drawer:after {content: ""; display: inline-block; background: url(menu-bg.png) no-repeat; background-size: cover; background-position: center; height: 100%; width: 100%; position: absolute; top: -300px; left: 0; display: none; }
.header__icon .icon.icon-close {height: 20px; }
.header .menu-drawer__navigation {padding: 94px 0; }
.js .header .menu-drawer__menu li {margin: 0 0 58px;} 
.header .menu-drawer .list-menu__item {padding: 0 0 5px; background: transparent; position: relative; width: auto; display: inline-block; }
.header .menu-drawer .list-menu__item:hover {background: transparent; } 
.header .menu-drawer .list-menu__item:hover:after {content: ""; display: inline-block; background: #000; width: 100%; height: 5px; border-radius: 5px; position: absolute; left: 0; bottom: 0; }
.header__icon--menu[aria-expanded="true"]::before{display: none;}
.header .menu-drawer__navigation-container{overflow: hidden;}

.footer-grid {width: 100%; display: flex; justify-content: space-between; align-items: center; padding: 21px 0; }
.footer-grid .copyright__content {font-size: 14px; line-height: 16px; letter-spacing: 0; color: #5C398D; font-family: var(--font-body-family); font-weight: 400; }
.footer-grid .footer-menu {width: auto; }
.footer-grid .footer-menu .footer-block__details-content {display: flex; align-items: center; justify-content: flex-end; flex-wrap: wrap; margin-bottom: 0;}
.footer-grid .footer-menu .footer-block__details-content li {margin: 0; padding: 0 12px; position: relative; }
.footer-grid .footer-menu .footer-block__details-content li:first-child {padding-left: 0; }
.footer-grid .footer-menu .footer-block__details-content li:last-child {padding-right: 0; }
.footer-grid .footer-menu .footer-block__details-content li .list-menu__item {text-transform: lowercase; padding: 0; font-size: 14px; line-height: 16px; letter-spacing: 0; color: #5C398D; font-family: var(--font-body-family); font-weight: 400; position: relative; }
.footer-grid .footer-menu .footer-block__details-content li a:after {content: ""; display: inline-block; background: #5C398D; width: 1px; height: 100%; position: absolute; top: 55%; right: -12px; transform: translateY(-50%); }
.footer-grid .footer-menu .footer-block__details-content li:last-child a:after {display: none; }
footer.footer {position: relative; z-index: 9; }
main#MainContent {min-height: 700px; }

@media screen and (max-width: 1749px) {
    .header-wrapper .header{padding: 43px 0 47px;}
    .js .header .menu-drawer__menu li {margin: 0 0 58px; }
    .container{width: 100%; padding: 0 20px;}

}
@media screen and (max-width: 1499px) {
    .header-wrapper .header {padding: 38px 0 42px; }
    .footer-grid{padding: 15px 0;}
}

@media screen and (max-width: 1365px) {
    .header-wrapper .header {padding: 20px 0px; }
    .search_model .search-input{width: 560px; height: 40px;font-size: 15px;line-height: 40px; }
    .header-right .header-cart {font-size: 19px; line-height: 20px;} 
    .header-right header-drawer {margin-left: 30px; } 
    .section-header .menu-drawer{padding: 100px 70px 50px;width: 300px; }
    .js .header .menu-drawer__menu li {margin: 0 0 40px; }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 1023px) {
}


@media screen and (max-width: 999px) {
    .search_model .search-input {width: 100%; height: 48px; font-size: 16px; line-height: 48px; }
    .header__icons {width: 100%; order: 2; margin: 30px 0 0; }
    h1.header__heading {display: inline-flex; order: 0; }
    .header-right {order: 1; }
    .search_model {width: 100%; }
}

@media screen and (max-width: 767px) {
    .section-header .menu-drawer {padding: 100px 45px 50px; width: 100%; background: url(mobile-menu-bg.png) no-repeat; background-position: 100% -39px; background-size: cover;}
    .header__icons {position: relative; z-index: 9; }
    h1.header__heading {position: relative; z-index: 9; }
    .header .menu-drawer__navigation {padding: 110px 0; }
    .header .search__button:not(:focus-visible):not(.focused){display: none;}
    .search_model .search-input{padding: 0 21px;}
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 567px) {
    .section-header .menu-drawer{padding: 100px 45 50px;}
    main#MainContent {min-height: 690px;}
    
}

@media screen and (max-width: 413px) {
    .header-right header-drawer {margin-left: 15px; }
    .section-header .menu-drawer {padding: 80px 45 40px;} 
    .header .menu-drawer .list-menu__item {font-size: 32px; } 
    .js .header .menu-drawer__menu li {margin: 0 0 30px; } 
    .search_model .search-input {padding: 0 15px; font-size: 15px; } 
    .header-right .header-cart {font-size: 17px; line-height: 19px; } 
    .header__icon .icon.icon-close {height: 18px; } 
    .header .header__heading-logo {max-width: 155px; } 
    .container {width: 100%; padding: 0 15px; } 
    .header__icons{margin: 25px 0 0;} 
    .search_model .search-input{height: 44px;} 
    .header__icon .icon {height: 16px; width: 26px;} 
    .footer-grid .copyright__content {font-size: 13px; line-height: 15px;} 
    .footer-grid .footer-menu .footer-block__details-content li .list-menu__item{font-size: 13px; line-height: 15px;} 
    .footer-grid .footer-menu .footer-block__details-content li{padding: 0 10px;} 
    .footer-grid {padding: 10px 0; }
}


