body {
	background: url("https://cdn.shopify.com/s/files/1/0680/9331/3298/files/main-bg.png?v=1670477655");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	background-position: center;
	background-attachment: fixed;
}

header-drawer {
	display: block;
}

.lowercase {
	text-transform: lowercase;

}

.uppercase {
	text-transform: uppercase;

}

.capitalize {
	text-transform: capitalize;
}

body:not(.template-index, .page-menu) .header {
	background-image: url("https://cdn.shopify.com/s/files/1/0680/9331/3298/files/main-bg.png?v=1670477655") !important;
	background-repeat: repeat !important;
	background-size: cover !important;
	background-position: top center !important;
}

.container {
	width: 1810px;
	max-width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	clear: both;
}

.header-wrapper .header {
	width: 100%;
	float: left;
	display: block;
	padding: 50px 15px;
	background: transparent;
	transition: 175ms ease-in;
	position: relative;
}

.section-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

* {
	box-sizing: border-box;
}

.header-wrapper {
	width: 100%;
	background: transparent;
	border: none;
}

.section-header a.header__heading-link.link {
	margin: 0;
	padding: 0;
}

.search-modal__form .field:before,
.search-modal__form .field:after {
	display: none;
}

.search_model .search-modal__form {
	max-width: 100%;
	border: none;
}

.search_model .field {
	transition: none;
	border: none;
}

.search_model .search-input {
	font-size: 16px !important;
	color: #000;
	font-family: 'Hiragino Sans';
	line-height: normal;
	/* letter-spacing: 0; */
	font-weight: 400;
	margin: 0;
	display: inline-block;
}

.search_model input.search-input::placeholder {
	color: #000;
}

.search_model .search-input {
	/* text-transform: lowercase; */
	background: #FDFDFD;
	border: 3px solid #000000;
	border-radius: 51px;
	width: 580px;
	height: 48px;
	padding: 0px 41px 2px 21px;
	margin: 0;
}

.section-header .menu-drawer {
	transform: translateX(100%);
	left: auto;
	right: 0;
	background: url(menu-bg.png) no-repeat;
	background-position: center;
	background-size: cover;
	top: 0;
	height: 100vh !important;
	padding: 148px 30px 50px 70px;
	overflow: hidden;
	width: 309px;
}

body.overflow-hidden-tablet {
	overflow-x: hidden;
}

.search_model .search__button {
	border: none;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	height: 21px;
	width: 17px;
}

.header-right {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header-right .header-cart {
	font-size: 20px;
	line-height: 21px;
	font-family: var(--font-heading-family);
	font-weight: 800;
	text-decoration: none;
	color: #000;
	/* letter-spacing: 0; */
	margin: 0 0 -5px;
	display: inline-block;
	text-transform: capitalize;
}

.header-right .cart {
	font-size: 0;
	position: relative;
	z-index: 9;
}

.header__icon .icon {
	height: 17px;
	width: 27px;
	fill: none;
	vertical-align: middle;
}

.header__icon:hover .icon,
.modal__close-button:hover .icon {
	transform: inherit;
}

.header-right header-drawer {
	margin-left: 37px;
}

.header-right header-drawer .header__icon {
	height: 14px;
	width: 27px;
	position: relative;
	z-index: 99999999;
}

.search_model .field__input:focus~.field__label {
	top: 50%;
	transform: translateY(-50%);
	left: 21px;
	font-size: 16px;
	/* letter-spacing: 0; */
}

.search_model .field__input:focus,
.search_model .field__input:not(:placeholder-shown),
.search_model .field__input:-webkit-autofill {
	box-shadow: inherit;
}

.search_model .search-input:focus-visible {
	box-shadow: inherit;
	outline: none;
	outline-offset: 0;
}

.menu-drawer .list-menu__item {
	font-family: var(--nav-font-family);
	font-weight: var(--nav-body-weight);
	font-size: var(--nav-font-size);
}

:root,
p,
body {
	color: rgb(var(--text-color));
}

:root,
h1,
.h1-style,
h2,
h3,
h4,
h5,
h6,
.heading-font {
	color: rgb(var(--heading-color));
}

:root,
span {
	color: rgb(var(--sub-heading-color));
}

/* .shopify-section-header-sticky .header {position: fixed; background: #fff !important; padding: 25px 0; transition: 175ms ease-in; } */

div#menu-drawer:after {
	content: "";
	display: inline-block;
	background: url(menu-bg.png) no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	position: absolute;
	top: -300px;
	left: 0;
	display: none;
}

.header__icon .icon.icon-close {
	height: 20px;
}

.header .menu-drawer__navigation {
	padding: 94px 0;
}

.js .header .menu-drawer__menu li {
	margin: 0 0 58px;
}

.header .menu-drawer .list-menu__item {
	padding: 0 0 5px;
	background: transparent;
	position: relative;
	width: auto;
	display: inline-block;
}

.header .menu-drawer .list-menu__item:hover {
	background: transparent;
}

.header__icon--menu[aria-expanded="true"]::before {
	display: none;
}

.header .menu-drawer__navigation-container {
	overflow: hidden;
}

.search_model:focus-visible,
.search_model .search-modal__form:focus-visible,
.search_model .field:focus-visible {
	outline: none;
	outline-offset: inherit;
	box-shadow: inherit;
}

.header .menu-drawer .list-menu__item.menu-drawer__menu-item--active:after {
	content: "";
	display: inline-block;
	background: #000;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	left: 0;
	bottom: 0;
}

.footer-grid {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 21px 0;
}

.footer-grid .copyright__content {
	font-size: 14px;
	line-height: 16px;
	/* letter-spacing: 0; */
	color: #5C398D;
	font-family: var(--font-body-family);
	font-weight: 400;
	display: flex;
    align-items: center;
}
.footer-grid .copyright__content span {
    font-size: 28px;    
}

.footer-grid .footer-menu {
	width: auto;
}

.footer-grid .footer-menu .footer-block__details-content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 0;
}

.footer-grid .footer-menu .footer-block__details-content li {
	margin: 0;
	padding: 0 12px;
	position: relative;
}

.footer-grid .footer-menu .footer-block__details-content li:first-child {
	padding-left: 0;
}

.footer-grid .footer-menu .footer-block__details-content li:last-child {
	padding-right: 0;
}

.footer-grid .footer-menu .footer-block__details-content li .list-menu__item {
	text-transform: lowercase;
	padding: 0;
	font-size: 14px;
	line-height: 16px;
	/* letter-spacing: 0; */
	color: #5C398D;
	font-family: var(--font-body-family);
	font-weight: 400;
	position: relative;
}

/* 
.footer-grid .footer-menu .footer-block__details-content li a:after {
	content: "";
	display: inline-block;
	background: #5C398D;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 55%;
	right: -12px;
	transform: translateY(-50%);
} */

.footer-grid .footer-menu .footer-block__details-content li:last-child a:after {
	display: none;
}

footer.footer {
	position: relative;
	z-index: 9;
}

main#MainContent {
	min-height: 100% !important;
}
.yellow_bar_color {
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
    padding: 2.5rem 0;
	padding: 2.3rem 0;
	border-top: var(--custom-border-width) solid var(--custom-border-color);
}
.yellow_bar_color .main-page-title {
    margin: 0;
    padding: 0;
	color: var(--custom-text_color);
    text-transform: lowercase;
    font-size: var(--heading-h1-font-size);
    font-weight: 800;
    line-height: 1;
}
.yellow_bar_color .title--primary {
    margin: 0;
	color: var(--custom-text_color);
}
.page-hiring .yellow_bar_color {
    margin-bottom: 50px;
}
.menu-grid_subtitle span .buttonbutton--secondary {
    padding: 30px 0 0;
    display: inline-block;
	color: #5c398d;
    text-transform: lowercase;
	text-decoration: none;
	font-size: 14px;	
	font-weight: 600;
	position: relative;
	z-index: 1;
}
.menu-grid_subtitle span .buttonbutton--secondary::after{
	content: "";
    position: absolute;
    top: auto;
    bottom: -2px;
    width: 0;
    height: 2px;   
    transition: width .5s;
	left: 0;
}
.menu-grid_subtitle span .buttonbutton--secondary:hover::after{
	width: 100%;
    transition: width .5s;
}
.price_order_tag span {
    font-family: var(--font-heading-family);
}
.product-title_wrapper .price_order_tag span {
    font-size: 20px;
}
.template-search {
    text-align: center;
}
@media screen and (max-width: 1749px) {

	/* .header-wrapper .header{padding: 43px 0 47px;} */
	.header-wrapper .header {
		padding: 50px 20px;
	}

	.js .header .menu-drawer__menu li {
		margin: 0 0 58px;
	}

	.container {
		width: 100%;
		padding: 0 20px;
	}

}

@media screen and (max-width: 1499px) {

	/* .header-wrapper .header {padding: 38px 0 42px; } */
	.footer-grid {
		padding: 15px 0;
	}
}

@media screen and (max-width:1400px) {
	.header-wrapper .header {
		padding: 40px 20px;
	}
}

@media screen and (max-width: 1365px) {

	/* .header-wrapper .header {padding: 20px 0px; } */
	.search_model .search-input {
		width: 560px;
		height: 48px;
		font-size: 16px;
		line-height: 48px;
	}

	.header-right .header-cart {
		font-size: 19px;
		line-height: 20px;
	}

	.header-right header-drawer {
		margin-left: 30px;
	}

	.section-header .menu-drawer {
		padding: 100px 30px 50px 70px;
		width: 300px;
	}

	.js .header .menu-drawer__menu li {
		margin: 0 0 40px;
	}
}

@media screen and (max-width: 1199px) {
	.product-title_wrapper .price_order_tag span {
		font-size: 18px;
	}	
}

@media screen and (max-width: 1023px) {}


@media screen and (max-width: 999px) {
	.search_model .search-input {
		width: 100%;
		height: 48px;
		font-size: 16px;
		line-height: 48px;
	}

	.header__icons {
		width: 100%;
		order: 2;
		margin: 34px 0 0;
	}

	h1.header__heading {
		display: inline-flex;
		order: 0;
	}

	.header-right {
		order: 1;
	}

	.search_model {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.section-header .menu-drawer {
		padding: 100px 25px 50px 45px;
		width: 100%;
		background: url(mobile-menu-bg1.png) no-repeat;
		background-position: 100%;
		background-size: cover;
		height: 100vh !important;
	}

	.template-index .section-header .menu-drawer {
		height: calc(100vh - var(--footer-height)) !important;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	.overflow-hidden-tablet .about_map_sticker {
		z-index: 0;
	}

	.header__icons {
		position: relative;
		z-index: 9;
	}

	h1.header__heading {
		position: relative;
		z-index: 9;
	}

	.header .menu-drawer__navigation {
		padding: 110px 0;
	}

	.header .search__button:not(:focus-visible):not(.focused) {
		display: none;
	}
}

@media screen and (max-width:749px) {
	.header-wrapper .header {
		padding: 35px 0px 15px;
	}

	.search_model .search-input {
		border: 2px solid #000000;
	}

	.header-right .header-cart {
		font-size: 16px;
	}
	.product-title_wrapper .price_order_tag span {
		font-size: 12px;
	}
}

@media screen and (max-width: 639px) {}

@media screen and (max-width: 567px) {
	.section-header .menu-drawer {
		padding: 100px 25px 50px 45px;
	}

	/* main#MainContent {min-height: 690px;} */
	.search_model .search-input {
		padding: 0px 10px 2px 15px;
	}
	.footer-grid .footer-menu .footer-block__details-content li {
		padding: 0 6px;
	}
}

@media screen and (max-width: 413px) {
	.header-right header-drawer {
		margin-left: 15px;
	}

	.section-header .menu-drawer {
		padding: 80px 25px 40px 45px;
	}

	.header .menu-drawer .list-menu__item {
		font-size: 32px;
	}

	.js .header .menu-drawer__menu li {
		margin: 0 0 30px;
	}

	.search_model .search-input {
		font-size: 16px;
	}

	.header-right .header-cart {
		font-size: 16px;
		/* line-height: 19px; */
	}

	.header__icon .icon.icon-close {
		height: 18px;
	}

	.header .header__heading-logo {
		max-width: 155px;
	}

	/* .container {width: 100%; padding: 0 15px; }  */
	.header__icons {
		margin: 34px 0 0;
	}

	.search_model .search-input {
		height: 48px;
	}

	.header__icon .icon {
		height: 16px;
		width: 26px;
	}

	.footer-grid .copyright__content {
		font-size: 11px;
		line-height: 14px;
	}

	.footer-grid .footer-menu .footer-block__details-content li .list-menu__item {
		font-size: 11px;
		line-height: 14px;
	}

	.footer-grid .footer-menu .footer-block__details-content li {
		padding: 0 6px;
	}

	.footer-grid {
		padding: 10px 0;
	}

	.header-wrapper .header {
		padding: 35px 0px 15px;
	}
}


.predictive-search.predictive-search--header {
	display: none;
}

/* .header .menu-drawer .list-menu__item:hover:after { 
    content: "";
    display: inline-block;
    background: #000; 
    width: 100%; 
    height: 5px; 
    border-radius: 5px; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
} */

.link-animation {
	position: relative;
	width: max-content !important;
}

.link-animation::after {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 0;
	/* top: auto; */
	/* right: auto; */
	width: 0%;
	height: 5px;
	display: block;
	border-radius: 5px;
	background: currentColor;
	/* transform: scaleX(0); */
	transition: width 0.50s;
	/* transform-origin:50px; */
}

.link-animation:hover::after {
	/* transform: scaleX(1); */
	width: 100%;
	left: 0;

}

.header-cart .link-animation::after {
	/* height: 2px; */
	bottom: -2px;
}

.price sup {
	font-size: 60%;
	line-height: 1;
}

.page-resources #MainContent {
	background: radial-gradient(53.71% 70.37% at 50% 87.2%, #F58325 0%, #D0C7E3 100%);
}

@media screen and (max-width:749px) {
	.page-resources #MainContent {
		background: radial-gradient(53.71% 70.37% at 50% 104.2%, #F58325 0%, #D0C7E3 100%);
	}
	.menu-grid_subtitle span .buttonbutton--secondary {
		font-size: 9px;
	}
}

@media screen and (max-height:500px) {
	.footer-grid {
		padding: 10px 0;
	}

	.header__icons {
		margin: 20px 0 0;
	}
}

@media screen and (max-height:450px) {
	.footer-grid {
		padding: 5px 0;
	}
}






/* cart page Css start */

.title-wrapper-with-link .title {
	margin: 0;
	color: var(--custom-text_color);
	font-family: var(--font-heading-family);
}

.cart-items thead th {
	text-transform: uppercase;
	font-family: var(--font-heading-family);
	color: var(--custom-text_color);
}

.title-wrapper-with-link a {
	color: var(--custom-text_color);
}

.cart-item__name {
	color: var(--custom-text_color);
	font-family: var(--font-heading-family);
}

.underlined-link:hover,
.customer a:hover {
	text-decoration-thickness: .1rem;
	color: var(--custom-text_color);
}

.totals>h2 {
	font-size: calc(var(--font-heading-scale) * 1.6rem);
	color: var(--custom-text_color);
	font-family: var(--font-heading-family);

}

.totals__subtotal-value {
	font-family: var(--font-heading-family);
}

.product-option {
	font-family: var(--font-heading-family);
}

.price--end {
	text-align: right;
	font-family: var(--font-heading-family);
}

.cart__items {
	position: relative;
	padding-bottom: 3rem;
	border-bottom: var(--custom-border-width) solid var(--custom-border-color) !important;
}

.cart-items th {
	border-bottom: var(--custom-border-width) solid var(--custom-border-color) !important;
}

/* Collection css start */

.card-wrapper .full-unstyled-link:hover {
	text-decoration: none !important;
}

.card-wrapper .price__regular {
	font-family: var(--font-heading-family);
}

.price--on-sale .price__sale {
	font-family: var(--font-heading-family);
}

.full-unstyled-link {
	color: var(--custom-text_color);
	text-transform: lowercase;
}

/* login page css start */
#recover,
#login {
	scroll-margin-top: 20rem;
	color: var(--custom-text_color);
	font-family: var(--font-heading-family);
}

.login .field+a {
	color: var(--custom-text_color);
}

.login a {
	color: var(--custom-text_color);
}

.customer>h1,
.customer__title {
	color: var(--custom-text_color);
}

.customer.account h2 {
	color: var(--custom-text_color);
}

.account h1+a {
	color: var(--custom-text_color);
}

.underlined-link,
.customer a {
	color: var(--custom-text_color);
}

.addresses h2 {
	color: var(--custom-text_color);
}

.title,
.title-wrapper-with-link {
	margin: 3rem 0 2rem;
	color: var(--custom-text_color);
}



html {
	position: relative;
	margin: 0;
	min-height: 100%;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
	padding-bottom: 63px;
}

#shopify-section-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

@media screen and (max-width: 1499px) {
	body {
		padding-bottom: 51px;
	}

}

@media screen and (max-width:749px) {
	.addresses h2 {
		text-align: left;
		font-size: 25px;
	}

	li[data-address]>h2 {
		font-size: 16px !important;
	}

	.addresses ul p {
		font-size: 16px;
	}

	.customer label {
		font-size: 16px;
	}

	body {
		padding-bottom: 47px;
	}

}

@media screen and (max-width: 413px) {
	body {
		padding-bottom: 35px;
	}

}

.icon-arrow-down {
	height: 10px;
	width: auto;
	color: var(--gradient-base-accent-1);
	opacity: 1;
	margin-top: 6px;
	margin-left: 5px;
}

.card__price_main a {
	display: block;
	position: relative;
	margin: 20px 0 5px 0;
}

.card__price_main.no_price_bg_img a {
	position: unset;
}

.no_price_bg_img .product_custom_price {
	position: unset;
	top: 0;
	left: 0;
	transform: translate(0);
	z-index: 1;
}

.card__price_main.no_price_bg_img {
	width: 100%;
	height: 100%;
}

.card__price_main.no_price_bg_img a,
.card__price_main.no_price_bg_img a .btn_bg,
.card__price_main.no_price_bg_img a .btn_bg img {
	max-width: 100%;
	max-height: 100%;
}

@media screen and (max-width:749px) {
	.card__price_main a {
		margin: 10px 0 5px 0;
	}
}

.product_custom_price {
	position: absolute;
	top: 50%;
	left: 50%;
	/* right: 0; */
	/* bottom: 0; */
	/* height: 100%; */
	/* width: 100%; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* transform: translate(42px, 0); */
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}

/* @media screen and (max-width: 1400px) {
	.product_custom_price {
		transform: translate(45px, 0);
	}
}

@media screen and (max-width: 1080px) {
	.product_custom_price {
		transform: translate(32px, 0);
	}
}

@media screen and (max-width: 749px) {
	.product_custom_price {
		transform: translate(20px, 0);
	}
} */

.card__price_main .price_bg_image {
	height: 100%;
	width: 100%;
}

.card__price_main {
	margin-top: 10px;
}

.card__price_main .btn_bg:hover {
	transform: scale(1.2);

}

.map_sticker_image,
.about_map_sticker img,
.map_sticker_image img:hover,
.about_text_grid_button_wrapper .button_image img:hover,
.sticker_image img:hover,
.button_wrapper .image:hover img,
.animation,
.main_slider_button img:hover,
.main_slider_button img,
.card__price_main:hover img,
.card__price_main img,
.menu-grid_btn_wrapper img,
.menu-grid_btn_wrapper:hover img,
.menu-grid_btn_wrapper,
.about_text_grid_button_wrapper img,
.about_text_grid_button_wrapper .button_image:hover img,
.sticker_image img,
.sticker_image:hover img,
.button_wrapper img,
.button_wrapper:hover img,
.price_buy_button_general img,
.price_buy_button_general:hover img,
.main_slider_button .btn:hover img,
.main_slider_button img,
.main_slider_button .btn,
.product_buy_button:hover .btn_bg,
.product_buy_button,
.btn_bg,
.product_buy_button img,
.card__price_main a img,
.card__price_main a .btn_bg,
.card__price_main a:hover .btn_bg {
	transition: all 150ms ease;
}

.main_slider_button img:hover {
	transform: scale(1.2);
}

.product-grid-container {
	--grid-desktop-horizontal-spacing: 30px;
	--grid-desktop-vertical-spacing: 20px;
	--grid-mobile-horizontal-spacing: 10px;
	--grid-mobile-vertical-spacing: 10px;
}

.card__price_main a,
.card__price_main a .btn_bg,
.card__price_main a .btn_bg img {
	height: 100%;
	width: 100%;
	max-width: 210px;
	max-height: 140px;
}

.collection-hero,
.template-collection .header-wrapper {
	border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}

.facet-filters.sorting .icon-arrow-down {
	margin-left: -17px;
}

.facet-filters__field .select__select {
	border: 1px solid rgba(0, 0, 0, 0.25);
	padding: 5px 10px;
}

.facet-filters__field .select {
	align-items: center;
}

@media screen and (max-width:749px) {

	.card__price_main a,
	.card__price_main a .btn_bg,
	.card__price_main a .btn_bg img {
		max-width: 120px;
		max-height: 70px;
	}
}

@media screen and (min-width: 750px) and (max-width: 1400px) {
	.product_custom_price .price {
		--price-font-size: 20px;
	}
}

.footer-block__details-content .link::before {
	content: "";
	position: absolute;
	top: auto;
	bottom: -5px;
	width: 0;
	height: 2px;
	background: rebeccapurple;
	transition: width .50s;
}

.footer-block__details-content .link:hover::before {
	width: 100%;
	transition: width .50s;
}

.article-link:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.article_item-image {
	border: 1px solid;
}
@media screen and (max-width:320px) {
	.footer-grid .footer-menu .footer-block__details-content li {
		padding: 0 3px;
	}
	footer.footer .container {
		padding: 0 16px;
	}
}