.gs-slideshow-section {
    width: 100%;
    height: calc(var(--viewport-height) - var(--header-height) - var(--footer-height) - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .gs-slideshow-section:before{
    content: '';
    position: fixed;
    width: 100%;
    height: 2px;
    background: red;
    z-index: 5;
} */
.swiper-carousel {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    width: 100%;
    padding: 0 15px;
}

@media screen and (max-width:1749px) {
    .swiper-carousel {
        padding: 0 20px;
    }
}

@media screen and (max-width:413px) {
    .swiper-carousel {
        /* padding: 0 15px; */
    }
}

.swiper-carousel .swiper-slide {
    /* width: calc(100% - 6px); */
    width: 100%;
    /* height: calc(87.5vh - var(--header-height) - var(--footer-height)); */
    height: calc(var(--viewport-height) - var(--header-height) - var(--footer-height) - 125px);
    border-radius: 0;
    background: #000000;
    /* max-width:calc(100% - (var(--page-padding) * 2)); */
    margin: auto;
    color: #18212b;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(var(--gs-black-color));
    /* box-shadow: 0px 0px 5px rgba(0,0,0,.3); */
    opacity: 0;
    overflow: hidden;
}

@media screen and (max-width: 750px){
 .swiper-carousel .swiper-slide  {
    height: calc(var(--viewport-height) - var(--header-height) - var(--footer-height) - 100px);
  }
}
.swiper-carousel .swiper-slide.swiper-slide-visible {
    opacity: 1;
}

.swiper-carousel .swiper-carousel-animate-opacity {
    height: 100%
}

.swiper-carousel .swiper-pagination-bullets {
    bottom: 0
}

.swiper-carousel img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    -webkit-box-reflect: below 5px -webkit-linear-gradient(bottom, rgba(255, 0, 0, .1) 0%, transparent 32px, transparent 100%)
}

.swiper-carousel .slide-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 88px 16px 24px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75));
    border-radius: 0 0 8px 8px
}

.swiper-carousel .slide-content h2 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.1
}

.swiper-carousel .slide-content p {
    margin: 8px 0 0;
    opacity: .65;
    font-size: 14px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* overflow: hidden */
}

.main_slider_image {
    /* height: calc(100% + 6px); */
    /* width: calc(100% + 6px); */
}

.main_slider_image,
.local_video_container video,
.local_video_container,
.main_slider_wrapper .local_video,
.main_slider_wrapper .video-section__media,
.video_container,
.main_slider_image .image,
.main_slider_wrapper {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
}

.local_video_container {
    overflow: hidden;
}

.local_video_container video {
    object-fit: cover;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
}

.main_slider_image img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
}

.main_slider_wrapper {
    position: relative;
    border: 3px solid #000000;
}

.main_slider_content_box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gs_style_1 .main_slider_header {
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #D1C8E3;
    color: #000000;
    font-size: 125px;
    font-family: 'Bangers';
    line-height: 1.1;
}

.main_slider_header {
    font-family: var(--font-heading-family);
}

.gs_style_2 .main_slider_header {
    font-size: 70px;
    color: #ffffff;
    line-height: 1.05;
    text-transform: lowercase;
}

@media screen and (max-width:1600px) {
    .gs_style_2 .main_slider_header {
        font-size: 60px;
    }
}

@media screen and (max-width:1400px) {
    .gs_style_2 .main_slider_header {
        font-size: 60px;
    }
}
@media screen and (max-width:1200px) {
    .gs_style_2 .main_slider_header {
        font-size: 40px;
    }
}
@media screen and (max-width:1000px) {
    .gs_style_2 .main_slider_header {
        font-size: 35px;
    }
}

@media screen and (max-width:900px) {
    .gs_style_2 .main_slider_header {
        font-size: 28px;
    }
}
.gs_style_1 .main_slider_subheader .subheader {
    max-width: 350px;
    width: 100%;
    font-family: 'Bangers';
    font-size: 25px;
    line-height: 1;

}

.gs_style_2 .subheader {
    color: #ffffff;
    font-family: var(--font-heading-family);
    font-size: 25px;
    line-height: 1.2;
    text-transform: lowercase;
}

.gs_style_1 .subheader.item_2 {
    margin: 0 0 0 auto;
}

.main_slider_content {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    max-width: 160rem;
}


.gs_style_1 .main_slider_button {

    margin-top: -15px;
    display: flex;
    align-items: center;
}

.main_slider_button img {
    height: 100%;
    width: 100%;
  border-radius:90%;
}

.main_slider_button .btn {
    text-decoration: none;
    position: relative;


}

.btn_text {
    position: absolute;
    /* width: fit-content; */
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    top: 50%; 
    left: 50%;

}
.gs_style_1 .btn {
transform: rotate(-10deg);
}
.gs_style_1 .btn_text {
    color: #F9EE43;    
    font-family: var(--nav-font-family);
    line-height: 1.2;
    font-weight: 400;
    white-space: nowrap;
    font-size:16px;
}
.gs_style_2 .btn {
    transform: rotate(-8.61deg);
}
.gs_style_2 .btn_text {
    font-family: var(--nav-font-family);
    font-size: 25px;
    line-height: 1.05;    
    text-transform: uppercase;
}

.main_slider_wrapper .video {
    height: 100%;
}

.main_slider_wrapper .video-section__media {
    padding-bottom: 0;
}

.main_slider_wrapper .video-section__media.deferred-media {
    box-shadow: none;
}

.main_slider_wrapper .global-media-settings {
    border: none;
    border-radius: 0;
}

.main_slider_wrapper .global-media-settings iframe {
    border: 0;
    border-radius: 0;
}

.gs_style_2 .main_slider_button .btn {
    width: 165px;
    height: 165px;
    /* display: contents; */
    display: block;
}
.gs_style_3 .main_slider_wrapper {
    display: flex;
}

.gs_style_3 .main_slider_item {
    width: 50%;
    height: 100%;
}
.gs_style_3 .main_slider_box,
.gs_style_3 .main_slider_image,
.gs_style_3 .main_slider_item_wrapper {
    height: 100%;
    width: 100%;
}
.gs_style_3 .main_slider_box,
.gs_style_3 .main_slider_item_wrapper {
    position: relative;
}
.gs_style_3 .main_slider_content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.gs_style_3 .main_slider_item.item_right .main_slider_content {
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

}
.gs_style_3 .main_slider_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}
.gs_style_3 .main_slider_button img,
.gs_style_3 .btn {
    height: 165px;
    width: 165px;
}

.gs_style_3 .heading {
    font-size: 91px;
    font-family: var(--font-heading-family);
    line-height: 1.05;
    color: #000000;
    text-transform: lowercase;
}
.gs_style_3 .text {
font-size: 25px;
font-family: var(--font-heading-family);
line-height: 1.2;
color: #FFFF73;
text-transform: lowercase;
}
.gs_style_3 .btn {
    display: block;
}
.gs_style_3 .btn {
    transform: rotate(-8.61deg);
}
.gs_style_3 .btn_text {
    font-size: 25px;
    line-height: 1.05;
    font-family: var(--nav-font-family);    
}
@media screen and (min-width:750px) {
    .main_slider_content_box {
        align-items: center;
    }

    .gs_style_1 .main_slider_subheader {
        /* display: flex; */
        display: grid;
        /* justify-content: space-between; */
        grid-template-columns: repeat(3, 1fr);
        margin-top: 35px;
    }

    .gs_style_2 .main_slider_subheader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 100px;
        margin-top: 55px;
    }

    .gs_style_2 .subheader.item_1 {
        max-width: 663px;
        text-align: left;
    }

    .gs_style_2 .subheader.item_2 {
        max-width: 364px;
        text-align: right;
    }

    .main_slider_content .desktop-box-position--left {
        grid-column: 1;
        grid-row: 1;
    }

    .main_slider_content .desktop-box-position--center {
        grid-column: 2;
        grid-row: 1;
    }

    .main_slider_content .desktop-box-position--right {
        grid-column: 3;
        grid-row: 1;
    }

    .desktop-btn-position--left {
        justify-content: flex-start;
    }

    .desktop-btn-position--center {
        justify-content: center;
    }

    .desktop-btn-position--right {
        justify-content: flex-end;
    }
}


@media (max-width: 640px) {

    .swiper-carousel .swiper-button-next,
    .swiper-carousel .swiper-button-prev {
        display: none !important
    }
}

@media screen and (max-width:1680px) {
    .gs_style_3 .text {
        font-size: 20px;
    }
    .gs_style_3 .heading {
        font-size: 70px;
    }
    .gs_style_3 .main_slider_button img, .gs_style_3 .btn {
        height: 130px;
        width: 130px;
    }
    .gs_style_3 .btn_text {
        font-size: 20px;
    }
    .gs_style_3 .main_slider_content {
        padding: 60px;
    }
}
@media screen and (max-width:1400px) {
    .gs_style_1 .main_slider_header {
        font-size: 80px;
    }

    .gs_style_1 .main_slider_subheader .subheader {
        font-size: 22px;
    }

    .gs_style_1 .main_slider_button .btn {
        max-width: 170px;
    }
    .gs_style_3 .heading {
        font-size: 60px;
    }
    .gs_style_2 .btn_text,
    .gs_style_2 .subheader {
        font-size: 21px;
    }
}

@media screen and (max-width:1200px) {
    .gs_style_2 .btn_text,
    .gs_style_1 .main_slider_subheader .subheader {
        font-size: 20px;
    }
}

@media screen and (max-width:1100px) {
    .gs_style_1 .main_slider_header {
        font-size: 80px;
    }

    .gs_style_1 .main_slider_subheader .subheader {
        font-size: 20px;
    }
    
}

@media screen and (max-width:1024px) {
    .gs_style_2 .main_slider_content {
        width: 100%;
    }
    .gs_style_2 .btn_text,
    .gs_style_2 .subheader {
        font-size: 16px;
    }
    .gs_style_2 .main_slider_subheader {
        column-gap: 40px;
    }
    .gs_style_3 .heading {
        font-size: 37px;
    }
    .gs_style_3 .text {
        font-size: 17px;
    }
    .gs_style_3 .btn_text {
        font-size: 18px;
    }
    .gs_style_3 .main_slider_button img, .gs_style_3 .btn,
    .gs_style_2 .main_slider_button .btn {
        height: 130px;
        width: 130px;
    }
    .gs_style_3 .main_slider_content {
        padding: 40px;
    }
}

@media screen and (max-width:1000px) {
    .gs_style_1 .main_slider_header {
        font-size: 70px;
    }
}

@media screen and (max-width:900px) {
    .gs_style_1 .main_slider_header {
        font-size: 60px;
    }
}

@media screen and (max-width:749px) {
    .gs_style_1 .main_slider_subheader .subheader {
        max-width: 85%;
        margin: 0 auto;
    }
  .gs_style_1 .btn_text {
    font-size:14px;
  }
    .main_slider_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 45px 15px;
    }

    .gs_style_1 .main_slider_subheader .subheader {
        font-size: 15px;
    }

    .main_slider_button img {
        display: inline-block;
        object-fit: cover;
    }

    .gs_style_1 .main_slider_button img,
    .gs_style_1 .main_slider_button .btn {
        max-width: 140px;
        max-height: 140px;
        display: block;
    }

    .btn_text {
        font-size: 10px;
        line-height: 1.2;
    }

    .mobile-btn-position--left {
        justify-content: flex-start;
    }

    .mobile-btn-position--center {
        justify-content: center;
    }

    .mobile-btn-position--right {
        justify-content: flex-end;
    }

    .gs_style_1 .main_slider_header {
        -webkit-text-stroke-width: 2px;
        line-height: 1.06;
    }

    .swiper-carousel .swiper-slide {
        border: 2px solid rgb(var(--gs-black-color));
    }

    .main_slider_wrapper {
        
        border: 2px solid #000000;
    }
    .gs_style_3 .heading,
    .gs_style_2 .main_slider_header {
        font-size: 25px;
    }
    .gs_style_3 .btn_text,
    .gs_style_2 .btn_text {
        font-size: 15px;
    }
    .gs_style_3 .main_slider_button img, .gs_style_3 .btn,
    .gs_style_2 .main_slider_button .btn {
        height: 100px;
        width: 100px;
    }
    .gs_style_2 .main_slider_button {
        display: flex;
        justify-content: flex-end;
        margin-top: -10px;
        margin-right: -15px;
    }
    .gs_style_3 .text,
    .gs_style_2 .subheader {
        font-size: 13px;
    }
    .gs_style_2 .subheader.item_2 {
        padding-top: 15px;
    }
    .gs_style_2 .main_slider_content {
        justify-content: center;
        width: 90%;
    }
    .gs_style_2 .main_slider_subheader {
        margin-top: 23px;
    }
    .gs_style_3 .main_slider_wrapper {
        flex-direction: column;
    }
    .gs_style_3 .main_slider_item {
        width: 100%;
        height: 50%;
    }
    .gs_style_3 .btn {
        position: unset;
    }
    .gs_style_3 .main_slider_button {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -25px;
    }
    
}

@media screen and (max-height:700px) and (max-width:375px) {
    .gs_style_2 .main_slider_header {
        font-size: 20px;
    }
    .gs_style_2 .btn_text {
        font-size: 12px;
    }
    .gs_style_2 .main_slider_button .btn {
        height: 80px;
        width: 80px;
    }
    .gs_style_2 .main_slider_button {
        margin-top: -18px;
        margin-right: 0;
    }
    .gs_style_2 .subheader {
        font-size: 12px;
    }
}

@media screen and (max-width:900px) and (max-height:800px) {
    .gs_style_3 .text {
        font-size: 11px;
    }
    .gs_style_2 .main_slider_header {
        font-size: 20px;
    }
    .gs_style_2 .btn_text,
    .gs_style_2 .subheader {
        font-size: 11px;
    }
}

@media screen and (max-height:700px) {
    .gs_style_3 .heading, .gs_style_2 .main_slider_header {
        font-size: 17px;
    }
    .gs_style_3 .text, .gs_style_2 .subheader {
        font-size: 10px;
    }
    .gs_style_3 .main_slider_content {
        padding: 20px;
    }
    .gs_style_3 .btn_text, .gs_style_2 .btn_text {
        font-size: 12px;
    }
    .gs_style_3 .main_slider_button img, .gs_style_3 .btn, .gs_style_2 .main_slider_button .btn {
        height: 75px;
        width: 75px;
    }
    .gs_style_1 .main_slider_button {
        margin-top: -20px;
    }
    .gs_style_1 .main_slider_content {
        padding: 20px 15px;
    }
    .gs_style_1 .main_slider_subheader {
        margin-top: 0;
    }
}
@media screen and (min-width:100px) and (max-height:700px) {
    .gs_style_3 .text, .gs_style_2 .subheader {
        font-size: 14px;
    }
    .gs_style_3 .heading, .gs_style_2 .main_slider_header {
        font-size: 35px;
    }
}

@media screen and (max-height:600px) {
    .main_slider_subheader {
        margin-top: 20px;
    }

    .gs_style_1 .main_slider_header {
        font-size: 35px;
    }

    .gs_style_1 .main_slider_subheader .subheader {
        font-size: 15px;
    }
    .gs_style_1 .main_slider_button .btn {
        max-width: 120px;
    }

    .btn_text {
        font-size: 10px;
    }

    .header-wrapper .header {
        padding: 20px;
    }
}

@media screen and (max-height:450px) {
    .header-wrapper .header {
        padding: 10px;
    }

    .main_slider_subheader {
        margin-top: 5px;
    }

    .gs_style_1 .main_slider_button .btn {
        max-width: 100px;
    }

    .btn_text {
        font-size: 8px;
    }
    .gs_style_3 .main_slider_content {
        padding: 20px;
    }
}

@media screen and (max-width:320px) {
    .gs_style_1 .main_slider_header {
        font-size: 40px;
        line-height: 1;
    }

    .main_slider_content {
        padding: 20px 15px;
    }

    .gs_style_1 .main_slider_subheader .subheader {
        font-size: 13px;
    }
    .gs_style_3 .main_slider_content {
        padding: 20px;
    }
}