.image_slider_main img {
    height: 100%;
    width: 100%;
    display: block;
}

.image_slider_main {
    position: relative;
    /* min-width: 300px; */
    height: 100%;
}
.image_slider_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 80px 80px 105px 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: column;
}
.image_slider_content .text  p {
    margin: 0;
}
.image_slider_wrapper {
    /* width: 25%; */
    
}
.image_box .image,
.image_box,
.image_horizontal_slider .swiper-autoheight,
.image_horizontal_slider .swiper-autoheight .swiper-slide {
    height: 100%;
}
.image_slider_content .title  {
    margin: 0;
    line-height: 1.1;
    width: 100%;
    font-family: var(--font-heading-family);
    font-size: 50px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}
.image_slider_content .text {
    font-family: var(--nav-font-family);
    line-height: 1.1;
    width: 100%;
    
}
.image_slider_content .text p {
    font-size: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;

}
.image_horizontal_slider {
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}
.image_horizontal_no_slider_main .swiper-wrapper {
    justify-content: center;
    align-items: center;
}

.image_horizontal_no_slider_main .image_slider_wrapper {
    width: calc(100% / 4);
    padding: 0 15px;
}
.image_horizontal_no_slider_main_mobile .swiper-wrapper {
    
}
.image_horizontal_no_slider_main_mobile .swiper-slide {
    width: 50%;
    min-width: auto;
    padding: 15px;
}
.image_horizontal_no_slider_main_tablet .swiper-slide {
    width: calc(100% / 3);
    padding: 0 15px;
}
.image_horizontal_no_slider_main_mobile .swiper-wrapper,
.image_horizontal_no_slider_main_tablet .swiper-wrapper {
    justify-content: center;
    align-items: center;
}
.image_horizontal_no_slider_main .swiper-slide {
    min-width: 300px;
}
.image_horizontal_slider_main_tablet {
    padding: 0 30px;
}
.image_horizontal_slider {
    padding: 117px 0px 133px 0px;
}
.image_horizontal_slider_main {
    padding: 0 30px;
}
@media screen and (min-width:750px) {

}

@media screen and (max-width:1663px) {
    .image_slider_content .text p {
        font-size: 34px;
    }
}
@media screen and (max-width:1545px) {
    .image_slider_content .title {
        font-size: 40px;
    }
    .image_slider_content .text p {
        font-size: 30px;
    }
}
@media screen and (max-width:1400px) {
    .image_slider_content {
        padding: 72px 60px 67px;
    }
}

@media screen and (max-width:1280px) {
    .image_slider_content {
        padding: 62px 50px 67px;
    }
}


@media screen and (max-width:1150px) {
    .image_slider_content .title {
        font-size: 35px;
    }
    .image_slider_content {
        padding: 62px 40px 67px;
    }
}

@media screen and (max-width:1024px) {
    .image_slider_content .text p {
        font-size: 25px;
    }
}


@media screen and (max-width:749px) {
    .image_slider_content .title {
        font-size: 25px;
    }
    .image_slider_content .text {
        font-size: 18px;
    }
    .image_horizontal_slider_main {
        padding: 30px 0px 40px 0px;
    }
    .image_slider_content {
        padding: 40px 30px 40px 30px;
    }
    .image_horizontal_main .swiper-wrapper {
        /* column-gap: 30px; */
    }
    .image_horizontal_slider_main_mobile {
        padding: 0 20px;
    }
    .image_horizontal_slider {
        padding: 30px 0 38px 0; 
    }
    .image_slider_content .text p {
        font-size: 18px;
    }

}

@media screen and (max-width:375px) {
    .image_slider_content .title {
        font-size: 25px;
    }
    /* .image_slider_content .text p {
        font-size: 15px;
    } */
}