.image_slider_main img {
    height: 100%;
    width: 100%;
    display: block;
}

.image_horizontal_slider_main {
    padding: 100px 0;
}
.image_slider_main {
    position: relative;
    /* min-width: 300px; */
}
.image_slider_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}
.image_slider_content .text  p {
    margin: 0;
}
.image_slider_wrapper {
    /* width: 25%; */
    
}
.image_box .image,
.image_box,
.image_slider_main,
.image_horizontal_slider .swiper-autoheight,
.image_horizontal_slider .swiper-autoheight .swiper-slide {
    height: 100%;
}
.image_slider_content .title  {
    margin: 0;
    line-height: 1.1;
    width: 100%;
    font-family: var(--font-heading-family);
}
.image_slider_content .text {
    font-family: var(--nav-font-family);
    line-height: 1.1;
    width: 100%;
}

.image_horizontal_slider_wrapper {
    border-bottom: 3px solid #5C398D;
}

@media screen and (min-width:750px) {
    .image_slider_content .title {
        font-size: 50px;       
    }
    .image_slider_content .text {
        font-size: 40px;        
    }
    .image_slider_wrapper {
        min-width: 300px;
    }
}

@media screen and (max-width:749px) {
    .image_slider_content .title {
        font-size: 30px;
    }
    .image_slider_content .text {
        font-size: 18px;
    }
}