.menu-grid {
    width: 100%;
    height: calc(100vh - var(--header-height) - var(--footer-height) - 5px);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 3px solid #5C398D; */
    /* border-bottom: 3px solid #5C398D; */
}
.swiper-slide_main,
.menu-grid_slider,
.menu-grid_main,
.menu-grid .page-width,
.menu-grid .swiper-slide {
    height: 100%;
    width: 100%;
}

.menu_slider_wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    position: relative;
}

.menu-grid_box_item.item_left {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.menu-grid_subtitle,
.menu-grid_title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 20px;
}
.menu-grid_subtitle span {
    max-width: 450px;
}
.menu-grid_btn_box {
    grid-column: 2;
    grid-row: 1/ span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menu-grid_btn_wrapper {
    /* max-width: 200px; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .8s ease-in-out;
}
.menu-grid_btn_wrapper:hover img {
    transform: scale(1.2);
    transition: all .8s ease-in;
}
.menu-grid_btn_wrapper img {
    height: 100%;
    width: 100%;
    /* min-width: 200px; */
    display: block;
    transition: all .8s ease-in;
}
.btn_text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 25px;
    font-family: var(--nav-font-family);
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
.menu-grid_subtitle p {
    font-size: 18px;
    line-height: 1.1;
    /* color: #5C398D; */
    font-family: var(--font-body-family);
    font-weight: 800;
    padding: 0;
    margin: 0;
}
.menu-grid_title span {
    font-size: 50px;
    line-height: 1;
    /* color: #5C398D; */
    font-family: var(--font-body-family);
    font-weight: 800;
}

.menu-grid_sticker {
    position: absolute;
    bottom: auto;
    right: auto;
}
.sticker_image img {
    height: 100%;
    width: 100%;
    display: block;
}


@media screen and (min-width:750px) {
    .menu-grid_box {
        display:grid;
        /* grid-template-columns: repeat(2,1fr); */
        grid-template-columns: 50% 50%;
        /* flex-wrap: wrap; */
        height: 100%;
    }
    .menu-grid_title {
        /* grid-column: 1; */
        /* grid-row: 1; */
        /* border-right: 3px solid #5C398D; */
        /* border-bottom: 3px solid #5C398D; */
        /* width: 50%; */
    }
    .menu-grid_subtitle {
        /* border-right: 3px solid #5C398D; */
        /* width: 50%; */
    }
    .desktop-position--top-left {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .desktop-position--top-center {
        align-items: flex-start;
        justify-content: center;
    }
    .desktop-position--top-right {
        align-items: flex-start;
        justify-content: flex-end;
    }
    .desktop-position--middle-left {
        align-items: center;
        justify-content: flex-start;
    }
    .desktop-position--middle-center {
        align-items: center;
        justify-content: center;
    }
    .desktop-position--middle-right {
        align-items: center;
        justify-content: flex-end;
    }
    .desktop-position--bottom-left {
        align-items: flex-end;
        justify-content: flex-start;
    }
    .desktop-position--bottom-center {
        align-items: flex-end;
        justify-content: center;
    }
    .desktop-position--bottom-right {
        align-items: flex-end;
        justify-content: flex-end;
    }
    .menu-grid_btn_box {
        padding: 20px;
    }
}
@media screen and (max-width:749px) {
    .menu-grid_box {
        height: 100%;
        position: relative;
    }
    .menu-grid_box_item.item_right {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .menu-grid_btn_box {
        justify-content: flex-end;
    }
    .menu-grid_title {
        /* border-bottom: 3px solid #5C398D; */
    }
    .menu-grid_title span {
        width: 100%;
        font-size: 25px;
    }
    .menu-grid_subtitle span {
        max-width: 140px;
    }
    .menu-grid_subtitle {
        justify-content: flex-start;
    }
    .menu-grid_subtitle p {
        font-size: 9px;
        line-height: 1.2;
    }
    .btn_text {
        font-size: 11px;
    }
    .menu-grid_btn_box {
        padding: 20px;
    }
}