.product_custom {
    background-color: #ffffff;
}

.product_page_slider_image ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.product_page_slider_image .product-media-container {
    width: 100%;
}
.product_page_slider_image .swiper-arrow {
    position: absolute;
    top:45%;
    z-index: 2;
    cursor: pointer;
}
.product_page_slider_image .swiper-arrow svg {
    color: var(--custom-border-color);
}
.product_page_slider_image .swiper--next {
    right: 10px;
}
.product_page_slider_image .swiper--prev {
    left: 10px;
    transform: rotate(180deg);
}
.product_page_slider_image .swiper-button-disabled {
    opacity: 0;
    height: 0;
    pointer-events: none;
}
.product_page_slider_image .product__media-item,
.product_page_slider_image .global-media-settings,
.product_page_slider_image img {
    border: none;
    border-radius: 0;
}

.product_page_slider_image .product__media-item {
    display: block;
/*   margin-bottom:-3px; */
}
.product_page_slider_image .gradient {
    background: transparent;
}
.product__media-wrapper media-gallery {
    /* border-top: var(--custom-border-width) solid #5C398D; */
}

.product_custom .product__title h1 {
    color: var(--custom-text_color);
    /* font-size: 50px; */
    /* line-height: 1.1; */
}
.price_order_tag {
    font-family: var(--nav-font-family);
}
.price {
    font-size: 25px;
    line-height: 1.1;
    color: #000000;
    text-align: center;
}

.btn_bg {
    width: 210px;
    height: 140px;
}

.product_page_slider_image {
    /* position: sticky; */
    /* top: 0; */
}

@media screen and (max-width:1080px) {
    .btn_bg {
        width: 170px;
        height: 100px;
    }
}
.btn_bg img {
    height: 100%;
    width: 100%;
    display: block;
}

.product-form__buttons button {
    padding: 0;
    border: none;
    background: transparent;
}
.product_buy_button {
    position: relative;
    cursor: pointer;
    display: block;
}
/* .product_custom_price {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
} */

.product_custom_price .price {
    /* padding: 15px; */
}

.product-form__buttons .shopify-payment-button {
/* display: none; */
}

.product_custom_buy_button .product-form__buttons {
    max-width: fit-content;
}
.product_custom_buy_button .product-form {
    margin: 0;
    display: flex;
}

.product_buy_button .btn_bg:hover { 
    transform: scale(1.2);
}
.product_buy_button:hover .product_custom_price {
    /* transform: scale(1); */
}
.product_custom .product__info-wrapper {
    background-color: #ffffff;
}

.product_custom .product-form__input {
    margin: 0;
}

.product-title_wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 40px;
}
.product_custom .product__inventory,
.product__text {
    margin: 0;
}

.product_title_attribute p {
    margin: 0;
    font-size: var(--body-font-size);
    color:var(--custom-text_color);
    font-family: var(--font-heading-family);
    line-height: 1.15;
}
@media screen and (min-width: 750px) and (max-width:1080px) {
    .product_title_attribute p {
        --body-font-size:15px;
    }
    
}

.product_custom .accordion {
    margin-top: 0;
}
.product__description p,
.product__description h2 {
    color: var(--custom-text_color);
    font-size: var(--body-font-size);
    line-height: 1.2;
    padding: 0;
    margin: 0;
}
.product__description p strong {
    font-weight: 800;
}

.true_false_icons_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.true_false_icons .right_item,
.true_false_icons .left_item {
    flex: 1;
}
.true_false_icons .item_list_wrapper {
    margin-top: 20px;
}
.true_false_icons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.true_false_icons li {
    margin-bottom: 3px;
}
.true_false_icons .item_list {
    display: flex;
    align-items: center;
    gap: 9px;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.true_false_icons .item_title {
    font-size: var(--body-font-size);
    font-family: var(--font-heading-family);
    color: var(--custom-text_color);
    line-height: 1.15;
}
.true_false_icons .item_text {
    color: var(--custom-text_color);
    font-size: var(--body-font-size);
    line-height: 1.86;
}

.product_custom_price .price {
    font-size: var(--price-font-size);
}

@media screen and (min-width: 750px) and (max-width: 1400px) {
    .product_custom_price .price {
        --price-font-size:20px;
    }
}

.price-item--regular {
    font-family: var(--font-heading-family);
}
.product_custom .product {
    /* border-top: var(--custom-border-width) solid var(--custom-border-color);  */
}
.loading-overlay__spinner {
    display: none !important;
}
.product_custom .breadcrumbs_container {
    margin-bottom: 30px;
}

.product_custom .product-media-container {
    max-width: 100%;
}
.product-title_main_block {
    padding: 85px 176px 98px 154px;
}
.product_custom_block.product__description {
    padding: 116px 154px 110px;
}
.true_false_icons {
    padding: 96px 154px 95px;
}
.template-product .header-wrapper {
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}

@media screen and (min-width:750px) {
    .product_custom .product__column-sticky > * {
        width: 100%;        
    }
    .product__media-gallery {
        position: sticky;
        top: var(--header-height);
        margin-bottom: -3px;
        position: -webkit-sticky;
        display: block;
    }
.product_custom_buy_button .product_buy_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product_custom .product__info-wrapper {
    padding: 0;
}
.product_custom .product-form__input,
.product_custom .product__info-container {
    max-width: 100%;
}
/* .product_page_slider_image, */
.product_page_slider_image .product__modal-opener{
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
    /* border-top: var(--custom-border-width) solid var(--custom-border-color); */
}
.product_custom_block {
    min-height: 360px;    
}
.product__media-wrapper {
    border-right: var(--custom-border-width) solid var(--custom-border-color);
    border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}
.product__column-sticky_custom .swiper_slider_main {
    position: sticky;
    position: -webkit-sticky;
    top:128px;
    margin-bottom: -3px;
}
.template-product .shopify-section-header-sticky .header {
/* border-bottom: var(--custom-border-width) solid var(--custom-border-color); */
} 

.product-title_wrapper {
    max-width: 750px;
}
.true_false_icons_wrapper,
.product__description_container {
    max-width: 520px;
}
.product_custom .product__title {
    margin-bottom:15px;
}
.product_custom .product--small .product__media-wrapper {
    width: var(--product-image-small-size);
    max-width:var(--product-image-small-size);
}
.product_custom .product--small .product__info-wrapper {
    width: calc(100% - var(--product-image-small-size));
    max-width: calc(100% - var(--product-image-small-size));
}
.js-product__description .swiper_slider_main{
    position:sticky;
    top:var(--header-height);
    margin-bottom:-4px;
  }
}




@media screen and (min-width:1750px) {
    .product__column-sticky_custom .swiper_slider_main {
        position: sticky;
        top:100px;
    } 
}

@media screen and (min-width: 750px) and (max-width: 1300px) {
    .product-title_wrapper {
        gap: 25px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
}
@media screen and (max-width:1600px) {
    .product-title_main_block {
        padding: 85px 146px 98px 124px;
    }
    .product_custom_block.product__description {
        padding: 116px 100px 110px 124px;
    }
    .true_false_icons {
        padding: 96px 100px 95px 124px; 
    }
}

@media screen and (max-width:1499px) {
    .product-title_main_block {
        padding: 85px 116px 98px 94px;
    }
    .product_custom_block.product__description {
        padding: 116px 100px 110px 94px;
    }
    .true_false_icons {
        padding: 96px 100px 95px 94px;
    }
}
@media screen and (max-width:1400px) {
    .product-title_main_block {
        padding: 85px 100px 94px 94px;
    }
    .product_custom_block.product__description {
        padding: 116px 100px 110px 94px;
    }
    .true_false_icons {
        padding: 96px 100px 95px 94px;
    }
}

@media screen and (max-width:1280px) {
    .product-title_main_block {
        padding: 85px 60px 94px 60px;
    }
}

@media screen and (max-width:1080px) {
    .true_false_icons,
    .product_custom_block.product__description,
    .product-title_main_block {
        padding: 60px 10px;
    }
    .product_page_slider_image .swiper-arrow svg {
        height: 50px;
        width: 50px;
    }
    .product_custom .product__title h1 {
        font-size: 30px;
    }
}

@media screen and (max-width:749px) {
    .product_custom .product__title h1 {
        /* font-size: 25px; */
    } 
    .product--slider .product__media-wrapper slider-component:not(.thumbnail-slider--no-slide) {
        margin-left: 0;
        margin-right: 0;
    }
/*     .product__media-wrapper { */
    .product_page_slider_image .product__modal-opener{
        border-bottom: var(--custom-border-width) solid var(--custom-border-color);
    }
    .btn_bg {
        width: 125px;
        height: 85px;
    }
    .product-title_wrapper {
        gap: 25px;
    }
    .true_false_icons svg {
        height: 13px;
        width: 13px;
    }
    .true_false_icons .item_list_wrapper {
        margin-top: 15px;
    }
    .true_false_icons li {
        margin-bottom: 4px;
    }
    .true_false_icons .left_item {
        border-right: var(--custom-border-width) solid var(--custom-border-color);
    }
    .product_page_slider_image .swiper-arrow svg {
        height: 30px;
        width: 30px;
    }
    .product_page_slider_image .product__media-item {
        border-right:var(--custom-border-width) solid var(--custom-border-color);
    }
    .product_custom .product__title {
        margin-bottom: 0;
    }
    .product_custom .breadcrumbs_container {
        display: none;
    }
    .product-title_main_block {
        padding: 20px;
    }
    .product_custom_block.product__description {
        padding: 17px 20px;
    }
    .true_false_icons {
        padding: 0;
    }
    .true_false_icons .right_item, 
    .true_false_icons .left_item {
        padding: 24px 20px;
    }
}


.product_page_slider_image *{
  outline:none !important;
  box-shadow:none !important;
}
