:root {
    --custom-color:#5c398d;
    --body-font-size:18px;
}
@media screen and (max-width:989px) {
    :root {
        --body-font-size:9px;
    }
}

.product_custom {
    border-top: 3px solid var(--custom-color);
}
.product_custom_wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    border-bottom: 3px solid var(--custom-color);
    background-color: #ffffff;
}
.product_custom_image_wrapper {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.header_part {
 grid-column: 2;
}
.discription_part {
    grid-column: 2;
    grid-row: 2;
    border-top: 3px solid var(--custom-color);
    border-bottom: 3px solid var(--custom-color);
}

.list_part {
grid-column: 2;
}
.accordion-part {
    grid-column: 2;
}
.image_part {
    grid-row: 3;
    grid-column: 1;
}
.product_custom_content_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* border-left: 3px solid var(--custom-color); */
/* border-right: 3px solid var(--custom-color); */
/* border-bottom: 3px solid var(--custom-color); */
padding: 40px 30px;
background-color: #ffffff;
}

.image_part {
border-right: none;
border-top: 3px solid var(--custom-color);
}
.product_custom_content {

/* padding:85px 176px 95px 154px; */
display: flex;
align-items: center;
justify-content: space-between;
/* max-width: 600px; */
width: 100%;
/* min-height: 300px; */
}

.left_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.product_custom_price {
    background-image: url(https://cdn.shopify.com/s/files/1/0680/9331/3298/files/price_button_bg.png?v=1670389637);
    background-repeat: no-repeat;
    /* padding: 15px; */
    background-position: center;
    background-size: 80%;
    /* min-width: 200px; */
    /* min-height: 140px; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    transition: background-size .5s ease-in;
}
.product_custom_price .price {
    padding: 25px;
}
.product_custom_price .no-js-hidden {
    padding: 30px;
    cursor: pointer;
    
}
.product_custom_price:hover {
    background-size: 100%;
}

.product_custom_price .price {
    width: 100%;
    height: 100%;
    font-weight: 800;
    font-size: 25px;
    line-height: 1;    
}
.product_custom .price-item {
    margin: 0;
    display: block;
    line-height: 1;
}

.product_custom img {
    height: 100%;
    width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
    display: block;
}
.product_custom_image_main > div:empty {
    /* display: block; */
}
.swiper--prev {    
    transform: rotate(180deg);
    left: 30px;
}
.swiper--next {
    right: 30px;
}
.swiper--prev,
.swiper--next {
    position:absolute;
    top:45%;
    z-index: 2;
    cursor: pointer;
}
.swiper--next.swiper-button-disabled,
.swiper--prev.swiper-button-disabled {
    opacity: 0;
    height: 0;
    width: 0;

}
.product_custom_image {
    height: 100%;
}
.product_custom_image_main {
    height: 100%;
    width: 100%;
    border-bottom: 3px solid var(--custom-color);
}

.product_custom h1 {
    margin: 0;
    font-size: 50px;
    color: var(--custom-color);
    font-weight: 800;
}
.product_custom .product__description {
    line-height: 1.2;
    font-size: 18px;
    color: var(--custom-color);
}
.product_custom ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 9px;
}
.item_list {
    display: flex;
    align-items: center;
    column-gap: 9px;
}
.item_text {
    font-size: 18px;
    line-height: 1.8;
    color: var(--custom-color);
}
.item_title {
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2;
    color: var(--custom-color);
    font-family: var(--font-heading-family);
}
.item_list_wrapper {
    margin-top: 26px;
}
.list_part .product_custom_content {
    justify-content: flex-start;
    column-gap: 30px;
}
.list_part .right_item,
.list_part .left_item {
    flex: 1 1 auto;
}
.product_custom_vender span {
    color: var(--custom-color);
    font-family: var(--font-heading-family);
    font-size: 18px;
    line-height: 1.2;
}

.price_order_tag {
    font-family: var(--nav-font-family);
    font-weight: 400;
    white-space: nowrap;
}

.product_custom_content p,
.product_custom_content h2 {
    color: var(--custom-color);
    font-family: var(--font-heading-family);
}

@media screen and (min-width:990px) {
    .product_custom_content_wrapper {
        border-left: 3px solid var(--custom-color);
    }
    .product_custom_content {
        max-width: 600px;
        min-height: 300px;
    }
    .product_custom_image_wrapper {
        position: sticky;
        top: 98px;
    }
}

@media screen and (max-width:989px) {
    .product_custom_wrapper {
       display: flex;
       flex-direction: column;
    }
    .product_custom h1 {
        font-size: 25px;
        line-height: 1.8;
    }
    .product_custom_vender span {
        font-size: 9px;
        line-height: 1.8;
    }
    .swiper--prev, .swiper--next {
        display: none;
    }
    .product_custom_price {
        /* min-width: 100px; */
        padding: 15px;
    }
    .product_custom_price .no-js-hidden {
        padding: 10px;
    }
    .product_custom_price .price {
        font-size: 14px;
        /* padding: 10px; */
    }
    .product_custom_content_wrapper {
        padding: 15px 20px;
    }
    .item_text,
    .item_title,
    .product_custom_content p {
        font-size: 9px;
    }
    .item_list svg {
        width: 13px;
        height: 13px;
    }
    .product_custom_content_wrapper.list_part {
        padding: 0;
    }
    .list_part .product_custom_content {
        column-gap: 0;
    }
    .list_part .left_item,
    .list_part .right_item {
        padding: 15px 20px;
    }
    .list_part .left_item {
        border-right: 3px solid var(--custom-color);        
    }
    .product_custom ul {
        row-gap: 4px;
    }
}