.product_accordion p {
    color: var(--custom-color);
}
.product_accordion  {
    z-index: 0;
    position: relative;
    margin-top: -0px;
}

.product_accordion_wrapper {
display: grid;
grid-template-columns: calc(43% - 6px / 2) calc(57% + 3px);
}

.product_accordion .image {
    max-height: 400px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.product_accordion img {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    object-fit: contain;
    object-position: center;
}
.product_accordion .left_item {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 188px 30px 140px;
}

.product_accordion_main.right_item {
    padding: 188px 100px 140px 154px;
    display: flex;
    align-items: center;
}

.accordion_main details .icon-minus {
    display: none;
}

.accordion_main details[open] .icon-plus {
display: none;
}

.accordion_main details[open] .icon-minus {
    display: block;
}
.accordion_main details summary {
    padding-top: 20px;
    padding-bottom: 20px;
}
.accordion_main summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.accordion_main .title {
    margin: 0; 
    font-family:var(--font-body-family);
    /* font-weight: 400; */
}
.accordion_main .title strong {
    font-family: var(--font-heading-family);
    
}

.accordion_main .title,
.accordian_content {
    font-size: var(--body-font-size);
    line-height: 1.6;
    color: #5C398D;
}
.accordion_main details {
    border-top: 3px solid #f58325;

}
.product_accordion_main.left_item {
    /* border-top: 3px solid #5C398D; */  
    /* display: flex; */
}

.product_accordion_main.left_item .title {
    font-family: var(--font-heading-family);
    font-size: 50px;
    color: #5C398D;
    line-height: 1.1;
    margin: 0 0 40px 0;
}
@media screen and (min-width: 750px) and (max-width: 1080px) {
    .product_accordion_main.left_item .title {
        font-size: 30px;
    }
}
.product_accordion_wrapper {
    border-bottom: var(--custom-border-width) solid #5C398D;
}
.product_accordion p {
    padding: 0;
    margin: 0;
}
.product_accordion_icon {
    height: 26px;
    width: 26px;
}


@media screen and (min-width:750px) {
    .accordian_content {
        margin-bottom: 20px;
        /* margin-top: 30px;     */
    }
    .product_accordion_main_wrapper {
        max-width: 730px;
        /* margin: 0 auto; */
        min-height: 360px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        flex-direction: column;
        /* max-height: 500px; */
        /* overflow-x: hidden; */
    }
    .product_accordion_main_wrapper .accordion_main {
        width: 100%;
    }
    .product_accordion_main.right_item {
        border-left: var(--custom-border-width) solid #5C398D;
    }
    
}
@media screen and (max-width:1600px) {
    .product_accordion_main.right_item {
        padding: 188px 80px 140px 124px;
    }
}
@media screen and (max-width:1499px) {
    .product_accordion_main.right_item {
        padding: 188px 80px 140px 94px;
    }
}

@media screen and (max-width:1400px) {
    .product_accordion_main.right_item {
        padding: 188px 100px 94px;
    }
}
@media screen and (max-width:1080px) {
    .product_accordion .left_item,
    .product_accordion_main.right_item {
        padding: 60px;
    }
}
@media screen and (max-width:989px) {
    .product_accordion_wrapper {
        grid-template-columns: calc(43% - 3px) 57%;
    }
}
@media screen and (max-width:749px) {
    .product_accordion_main.right_item,
    .product_accordion_wrapper {
        display: block;
    }
    .accordion_content_main {
        display: flex;
        align-items: center;
        column-gap: 30px;
        justify-content: space-around;
        margin: 15px;
        flex-wrap: nowrap;
    }
    .accordion_content_main .accordian_content,
    .accordion_content_main .image {
        width: 100%;
    }
    .product_accordion .image img,
    .product_accordion .image {
        max-width: 106px;
        max-height: 106px;
    }
    .product_accordion_main.right_item {
        padding: 32px 20px 30px 20px;
    }
    .accordion_main details {
        border-top: 1px solid #f58325;
    }
    .product_accordion_icon svg,
    .product_accordion_icon {
        height: 12px;
        width: 12px;
    }
    .accordion_main details[open] summary {
        padding-bottom: 0;
    }

}