.product-recommendations {
  display: block;
}

.product-recommendations__heading {
  /* margin: 0 0 3rem; */
  margin: 0;
  padding: 65px 0px;
}

.product-recommendations__heading {
  /* font-size: 50px; */
  font-family: var(--font-heading-family);
  line-height: 1.1;
  color: var(--custom-text_color);
  border-bottom: var(--custom-border-width) solid var(--custom-border-color);
}
@media screen and (min-width: 750px) and (max-width: 1080px) {

  .product-recommendations__heading  {
    --heading-h1-font-size:30px;
  }
  .product-recommendations__heading {
    padding: 45px 0;
  }
} 
.product-recommendations {
  --grid-desktop-horizontal-spacing:0px;
  --grid-desktop-vertical-spacing:0px;
}
.product-recommendations .product-grid {
  margin: 0;
  padding: 0;
  border-bottom: var(--custom-border-width) solid var(--custom-border-color);
  display:block;
}
.product-recommendations .product-card-wrapper {
  max-width: 430px;
  margin: 0 auto;
}
.product-recommendations .grid__item1 {
  padding: 130px 20px 110px 20px;
}
.product-recommendations .grid__item1 {
  /* border-right: var(--custom-border-width) solid var(--custom-border-color); */
}
.product-recommendations .grid__item1:last-child {
  /* border-right: none; */
}
.product-recommendations .card__heading {
  /* font-size: 35px; */
  font-family: var(--font-heading-family);
  line-height: 1;
  color: var(--custom-text_color);
  line-height: 1.05;
}

@media screen and (min-width: 750px) and (max-width: 1080px) {
  .product-recommendations .card__heading {
    --heading-h4-font-size:28px;
  }
  .product-recommendations .grid__item1 {
    padding: 65px 20px 60px 20px;
  }   
} 

.product-recommendations .underline-links-hover:hover a {
  text-decoration: none;
}
.product-recommendations .card__description h2 {
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.product-recommendations .card__description,
.product-recommendations .card__description p {
font-size: var(--body-font-size);
line-height: 1.2;
color: var(--custom-text_color);
}
.product-recommendations .price {
  font-size:var(--price-font-size);
  line-height: 1;
}
.card__bg_image_main {
  height: 140px;
  width: 200px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 750px) and (max-width: 1080px) {
  .card__bg_image_main {
    width: 170px;
    height: 100px;
  }
  .product-recommendations .price {
    --price-font-size:18px;
  }
}
.card__price_main product-form {
  height: 100%;
  width: 100%;
}
.card__price_main .button {
  /* min-width: 100%; */
  /* min-height: 100%; */
  background-color: transparent;
}
.card__price_main .button:hover,
.card__price_main .button::before,
.card__price_main .button::after {
  box-shadow: none;
  border: none;
  content: none;
}
.card__bg_image_main::before {
  border: none;
}
.card__bg_image_main img {
  height: 100%;
  width: 100%;
  display: block;
}
.card__price_main {
  position: relative;
  width: 200px;
  /* height: 140px; */
  z-index: 2;
  cursor: pointer;
  margin-top: 35px;
}
.product-recommendations .card__information {
  grid-row-start:1;
}
.product-recommendations .card__description {
margin-top: 20px;
}

.card--standard.card--text:not(.card--horizontal) > .card__content .card__heading {
  display: block;
}

.product-recommendations .card__description p,
.product-recommendations .card__description strong {
  font-family: var(--font-body-family);
  font-weight: 400;
}
.card_price {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price__sale {
  font-family: var(--font-heading-family);
}
.price__sale s {
  opacity: 0;
  height: 0;
  width: 0;
  font-size: 0px;
}
.card__price_main:hover img,
.card__price_main img {
  /* transition: all 200ms ease; */
}
.card__price_main:hover img {
  transform: scale(1.2);
}
.product-recommendations .card-information {
  width: auto;
  margin-top: 40px;
}
.product-recommendations .swiper-autoheight,
.product-recommendations .swiper-autoheight .swiper-slide {
  height: 100%;
}
.product-recommendations .grid__item1.swiper-slide-active {
  border-right: var(--custom-border-width) solid var(--custom-border-color);
}

.product-recommendations .card__information {
  padding-top: 50px;
}

.product-recommendations .card-information > *:not(.visually-hidden:first-child) + *:not(.rating) {
  margin-top: 20px;
}

@media screen and (min-width:750px) {
  .product-recommendations .grid__item1.swiper-slide-next {
    border-right: var(--custom-border-width) solid var(--custom-border-color);
  }
}
@media screen and (max-width:749px) {
  .card__price_main {
    width: 110px;
    height: 70px;
  }
  .product-recommendations .grid__item1 {
    padding: 22px 20px 24px 20px;
  }
  .product-recommendations .card-information {
    margin-top: 15px;
  }
  .product-recommendations__heading {
    padding: 30px 20px;
  }
  .card__bg_image_main {
    width: 110px;
    height: 65px;
  }
  .product-recommendations .card__information {
    padding-top: 15px;
  }
  .product-recommendations .card__description, .product-recommendations .card__description p {
    font-size: 12px;
}
}